#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Check that either Postgres or Yugabyte is defined as persistence layer
  ansible.builtin.fail:
    msg: >-
      The validator requires a persistence layer to work properly.
      Set it either with 'postgres_db_host' (to use a Postgres DB) or with 'yugabyte_cluster_ref_id' (to use a Yugabyte cluster).
  when:
    - (postgres_db_host is not defined) and (yugabyte_cluster_ref_id is not defined)

- name: Ensure Fabric-X Committer validator config directory exists
  ansible.builtin.file:
    path: "{{ committer_remote_config_dir }}"
    state: directory
    mode: "0o750"

- name: Generate {{ committer_validator_config_file }}
  ansible.builtin.template:
    src: "config-validator.yaml.j2"
    dest: "{{ committer_remote_config_dir }}/{{ committer_validator_config_file }}"
    mode: "0o644"

- name: Ensure directory for Postgres DB TLS certificate exists
  ansible.builtin.file:
    path: "{{ committer_remote_config_dir }}/db/tls"
    state: directory
    mode: "0750"
  when:
    - postgres_db_host is defined
    - hostvars[postgres_db_host].postgres_use_tls is defined
    - hostvars[postgres_db_host].postgres_use_tls

- name: Copy Postgres DB TLS certificate
  ansible.builtin.copy:
    src: "{{ config_build_dir }}/{{ postgres_db_host }}/tls/cert.pem"
    dest: "{{ committer_remote_config_dir }}/db/tls/cert.pem"
    mode: "0644"
  when:
    - postgres_db_host is defined
    - hostvars[postgres_db_host].postgres_use_tls is defined
    - hostvars[postgres_db_host].postgres_use_tls
