#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Fetch Fabric-X Committer sidecar logs from container
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: container/fetch_logs
  when: not committer_use_bin

- name: Fetch Fabric-X Committer sidecar logs from binary
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: bin/fetch_logs
  when: committer_use_bin
