#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Ensure Podman volume exists
  ansible.builtin.file:
    path: "{{ container_volume_path }}"
    mode: "{{ container_volume_mode }}"
    state: "{{ container_volume_type }}"
    recurse: "{{ recurse | default(false) }}"

# For rootless Podman, we could be in trouble creating
# the volume with the right permissions.
# To solve it, we use `podman unshare`, which can be
# used to grant the necessary rights to perform operations
# which would not be possible for the user without being sudo.
- name: Ensure Podman volume permissions on Linux are correct
  become_method: >-
    {{
      'containers.podman.podman_unshare'
      if (not container_host_user_is_root)
      else omit
    }}
  become: true
  ansible.builtin.file:
    path: "{{ container_volume_path }}"
    mode: "{{ container_volume_mode }}"
    owner: "{{ container_volume_uid }}"
    group: "{{ container_volume_gid }}"
    state: "{{ container_volume_type }}"
    recurse: "{{ recurse | default(false) }}"
  when:
    - not container_on_mac
    - container_volume_uid is defined
    - container_volume_gid is defined

# For Podman on macOS the `podman unshare` command is not available.
# To fix the issue, we reuse the Docker approach of running a container
# to fix the permissions.
- name: Set Podman volume "uid" and "gid" on macOS for rootless users
  containers.podman.podman_container:
    name: "podman-unshare-chown-{{ container_name | default(999999 | random) }}"
    image: docker.io/library/alpine:3.18
    command: >-
      chown
      {% if recurse | default(false) %}
      -R
      {% endif %}
      {{ container_volume_uid }}:{{ container_volume_gid }}
      /volume
    volumes:
      - "{{ container_volume_path }}:/volume"
    detach: false
    auto_remove: true
    state: started
  when:
    - container_on_mac
    - container_volume_uid is defined
    - container_volume_gid is defined

- name: Set Podman volume permissions on macOS for rootless users
  containers.podman.podman_container:
    name: "podman-unshare-chmod-{{ container_name | default(999999 | random) }}"
    image: docker.io/library/alpine:3.18
    command: >-
      chmod
      {% if recurse | default(false) %}
      -R
      {% endif %}
      {{ container_volume_mode | regex_replace('^0o', '0') }}
      /volume
    volumes:
      - "{{ container_volume_path }}:/volume"
    detach: false
    auto_remove: true
    state: started
  when:
    - container_on_mac
    - container_volume_mode is defined
