#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Check that the Yugabyte ports are open
  vars:
    utils_ports_to_ping:
      - "{{ yugabyte_master_webserver_port }}"
      - "{{ yugabyte_tablet_pgsql_bind_port }}"
      - "{{ yugabyte_tablet_rpc_bind_port }}"
      - "{{ yugabyte_tablet_webserver_port }}"
      - "{{ yugabyte_tablet_pgsql_web_port }}"
      - "{{ yugabyte_tablet_cql_bind_port }}"
      - "{{ yugabyte_tablet_cql_web_port }}"
  ansible.builtin.include_role:
    name: hyperledger.fabricx.utils
    tasks_from: ping
