#############################################################################
#  TLS section for the server's listening port
#
#  The following types are supported for client authentication: NoClientCert,
#  RequestClientCert, RequireAnyClientCert, VerifyClientCertIfGiven,
#  and RequireAndVerifyClientCert.
#
#  Certfiles is a list of root certificate authorities that the server uses
#  when verifying client certificates.
#############################################################################
tls:
  # Enable TLS (default: false)
  enabled: {{ fabric_ca_use_tls | lower }}
  # TLS for the server's listening port
  certfile: "{{ fabric_ca_server_config_dir }}/{{ fabric_ca_server_tls_cert_file }}"
  keyfile: "{{ fabric_ca_server_config_dir }}/{{ fabric_ca_server_tls_private_key_file }}"
