#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

{% include './sections/database.yaml.j2' +%}

{% include './sections/sidecar.yaml.j2' +%}

{% include './sections/buffer.yaml.j2' +%}

{% include './sections/workers.yaml.j2' +%}

{% include './sections/server.yaml.j2' +%}
