#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Set Postgres Exporter Data Source connection string
  vars:
    base_data_source_name: "postgresql://{{ hostvars[postgres_db_host].postgres_user }}:{{ hostvars[postgres_db_host].postgres_password }}@{{ hostvars[postgres_db_host].ansible_host }}:{{ hostvars[postgres_db_host].postgres_port }}/{{ hostvars[postgres_db_host].postgres_db }}"
    data_source_name_with_tls: "sslmode=verify-full&sslrootcert={{ postgres_exporter_container_config_dir }}/tls/db.{{ postgres_db_host }}.crt"
    data_source_name_without_tls: "sslmode=disable"
  ansible.builtin.set_fact:
    postgres_exporter_data_source_name: "{{ base_data_source_name }}?{{ data_source_name_with_tls if (hostvars[postgres_db_host].postgres_use_tls is defined and hostvars[postgres_db_host].postgres_use_tls) else data_source_name_without_tls }}"

- name: Start Postgres Exporter Sidecar container
  vars:
    container_name: "{{ postgres_exporter_container_name }}"
    container_image: "{{ postgres_exporter_image }}"
    container_env:
      DATA_SOURCE_NAME: "{{ postgres_exporter_data_source_name }}"
    container_command: >-
      --web.listen-address=:{{ postgres_exporter_port }}
      --config.file={{ postgres_exporter_container_config_dir }}/{{ postgres_exporter_config_file }}
      {% if postgres_exporter_use_tls %}
      --web.config.file={{ postgres_exporter_container_config_dir }}/{{ postgres_exporter_web_config_file }}
      {% endif %}
    container_ports:
      - "{{ postgres_exporter_port }}:{{ postgres_exporter_port }}"
    container_volumes:
      - "{{ postgres_exporter_remote_config_dir }}:{{ postgres_exporter_container_config_dir }}:Z"
    container_healthcheck_test: >-
      wget -q
      --spider
      {% if postgres_exporter_use_tls %}
      --no-check-certificate
      https://localhost:{{ postgres_exporter_port }}/metrics
      {% else %}
      http://localhost:{{ postgres_exporter_port }}/metrics
      {% endif %}
    container_wait_until_running: true
    container_wait_port: "{{ postgres_exporter_port }}"
    container_run_as_host_user: true
  ansible.builtin.include_role:
    name: hyperledger.fabricx.container
    tasks_from: start
