#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Generate the TLS crypto material with OpenSSL
  vars:
    openssl_common_name: "{{ inventory_hostname }}"
    openssl_organization: "{{ organization.domain | default(inventory_hostname) }}"
    openssl_private_key_path: "{{ elasticsearch_remote_config_dir }}/tls/{{ elasticsearch_tls_private_key_file }}"
    openssl_cert_path: "{{ elasticsearch_remote_config_dir }}/tls/{{ elasticsearch_tls_cert_file }}"
  ansible.builtin.include_role:
    name: hyperledger.fabricx.openssl
    tasks_from: generate_self_signed_cert
