#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

{% include './sections/load-profile.yaml.j2' +%}

{% include './sections/monitoring.yaml.j2' +%}

{% include './sections/stream.yaml.j2' +%}

{% include './sections/generate.yaml.j2' +%}

{% include './sections/logging.yaml.j2' +%}

# ---------------------------------------------------------------------------
# Coordinator Client Settings
# ---------------------------------------------------------------------------
coordinator-client:
  endpoint: {{ hostvars[committer_coordinator_host].ansible_host }}:{{ hostvars[committer_coordinator_host].committer_rpc_port }}
