#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# ---------------------------------------------------------------------------
# Orderer Client Settings
# ---------------------------------------------------------------------------
orderer-client:
  # Number of simultaneous gRPC broadcast streams the load-generator opens to the orderer.
  broadcast-parallelism: {{ loadgen_broadcast_parallelism | default(ansible_facts.processor_vcpus | int // 4) }}
  # Orderer-client settings
  orderer:
    # Channel ID
    channel-id: {{ channel_id }}
    # Consensus Type ("BFT" or "CFT")
    consensus-type: BFT
    # Orderer connection settings
    connection:
      # List of HLFX Orderer endpoints
      endpoints:
        # List of HLFX Orderer Router endpoints
{% for orderer_router in orderer_router_hosts %}
        - id={{ hostvars[orderer_router].orderer_group }},broadcast,{{ hostvars[orderer_router].ansible_host }}:{{ hostvars[orderer_router].orderer_rpc_port }}
{% endfor %}
        # List of HLFX Orderer Assembler endpoints
{% for orderer_assembler in orderer_assembler_hosts %}
        - id={{ hostvars[orderer_assembler].orderer_group }},deliver,{{ hostvars[orderer_assembler].ansible_host }}:{{ hostvars[orderer_assembler].orderer_rpc_port }}
{% endfor %}
{% if (hostvars[orderer_ref_host].orderer_use_tls is defined) and hostvars[orderer_ref_host].orderer_use_tls %}
      # Define TLS options and certificate paths used for secure communication
      # between the loadgen and the orderers.
      tls:
        # Server CA certificates to trust if tls is enabled.
        ca-cert-paths:
{% for orderer_router in orderer_router_hosts %}
{% if (hostvars[orderer_router].orderer_use_tls is defined) and hostvars[orderer_router].orderer_use_tls %}
          - {{ loadgen_config_dir }}/tls/orderers/{{ orderer_router }}/ca.crt
{% endif %}
{% endfor %}
{% for orderer_assembler in orderer_assembler_hosts %}
{% if (hostvars[orderer_assembler].orderer_use_tls is defined) and hostvars[orderer_assembler].orderer_use_tls %}
          - {{ loadgen_config_dir }}/tls/orderers/{{ orderer_assembler }}/ca.crt
{% endif %}
{% endfor %}
{% if (hostvars[orderer_ref_host].orderer_use_mtls is defined) and hostvars[orderer_ref_host].orderer_use_mtls %}
        # Path to the TLS key file (private key).
        key-path: {{ loadgen_config_dir }}/tls/server.key
        # Path to the TLS certificate file (public key).
        cert-path: {{ loadgen_config_dir }}/tls/server.crt
        # TLS configuration modes ("none", "tls" or "mtls")
        mode: mtls
{% else %}
        # TLS configuration modes ("none", "tls" or "mtls")
        mode: tls
{% endif %}
{% endif %}
{% if committer_sidecar_host is defined %}
  # Used to deliver status from the sidecar.
  # If omitted, we will fetch directly from the orderer.  
  sidecar-client:
    # Committer Sidecar endpoint
    endpoint: {{ hostvars[committer_sidecar_host].ansible_host }}:{{ hostvars[committer_sidecar_host].committer_rpc_port }}
{% if (hostvars[committer_sidecar_host].committer_use_tls is defined) and hostvars[committer_sidecar_host].committer_use_tls %}
    # Define TLS options and certificate paths used for secure communication
    # between the sidecar-client and the sidecar.
    tls:
      # Server CA certificates to trust if tls is enabled.
      ca-cert-paths:
        - {{ loadgen_config_dir }}/tls/sidecar/ca.crt
{% if (hostvars[committer_sidecar_host].committer_use_mtls is defined) and hostvars[committer_sidecar_host].committer_use_mtls %}
      # Path to the TLS key file (private key).
      key-path: {{ loadgen_config_dir }}/tls/server.key
      # Path to the TLS certificate file (public key).
      cert-path: {{ loadgen_config_dir }}/tls/server.crt
      # TLS configuration modes ("none", "tls" or "mtls")
      mode: mtls
{% else %}
      # TLS configuration modes ("none", "tls" or "mtls")
      mode: tls
{% endif %}
{% endif %}
{% endif %}

{% include './sections/load-profile.yaml.j2' %}

{% include './sections/monitoring.yaml.j2' +%}

{% include './sections/stream.yaml.j2' +%}

{% include './sections/generate.yaml.j2' +%}

{% include './sections/logging.yaml.j2' +%}
