#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

sidecar-client:
  sidecar-endpoint: {{ hostvars[committer_sidecar].ansible_host }}:{{ hostvars[committer_sidecar].committer_rpc_port }}
  orderer-servers:
{% for orderer_router in orderer_routers %}
    - endpoint: {{ hostvars[orderer_router].ansible_host }}:{{ hostvars[orderer_router].orderer_rpc_port }}
{% endfor %}
  channel-id: {{ channel_id }}
{% include './sections/load-profile.yaml.j2' +%}
{% include './sections/monitoring.yaml.j2' +%}
{% include './sections/stream.yaml.j2' +%}
{% include './sections/logging.yaml.j2' %}