#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# ---------------------------------------------------------------------------
# Sidecar Client Settings
# ---------------------------------------------------------------------------
sidecar-client:
  channel-id: {{ channel_id }}
  orderer-servers:
{% for loadgen_mock_orderer_port in loadgen_mock_orderer_ports %}
    - {{ ansible_host }}:{{ loadgen_mock_orderer_port }}
{% endfor %}    
  # Used to deliver status from the sidecar.
  # If omitted, we will fetch directly from the orderer.
  sidecar-client:
    # Committer Sidecar endpoint
    endpoint: {{ hostvars[committer_sidecar_host].ansible_host }}:{{ hostvars[committer_sidecar_host].committer_rpc_port }}
{% if (hostvars[committer_sidecar_host].committer_use_tls is defined) and hostvars[committer_sidecar_host].committer_use_tls %}
    # Define TLS options and certificate paths used for secure communication
    # between the sidecar-client and the sidecar.
    tls:
      # Server CA certificates to trust if tls is enabled.
      ca-cert-paths:
        - {{ loadgen_config_dir }}/tls/sidecar/ca.crt
{% if (hostvars[committer_sidecar_host].committer_use_mtls is defined) and hostvars[committer_sidecar_host].committer_use_mtls %}
      # Path to the TLS key file (private key).
      key-path: {{ loadgen_config_dir }}/tls/server.key
      # Path to the TLS certificate file (public key).
      cert-path: {{ loadgen_config_dir }}/tls/server.crt
      # TLS configuration modes ("none", "tls" or "mtls")
      mode: mtls
{% else %}
      # TLS configuration modes ("none", "tls" or "mtls")
      mode: tls
{% endif %}
{% endif %}

{% include './sections/load-profile.yaml.j2' %}

{% include './sections/monitoring.yaml.j2' +%}

{% include './sections/stream.yaml.j2' +%}

{% include './sections/generate.yaml.j2' +%}

{% include './sections/logging.yaml.j2' +%}
