#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# ---------------------------------------------------------------------------
# Validator Client Settings
# ---------------------------------------------------------------------------
vc-client:
  endpoints:
{% for committer_validator_host in committer_validator_hosts %}
    - {{ hostvars[committer_validator_host].ansible_host }}:{{ hostvars[committer_validator_host].committer_rpc_port }}
{% endfor %}
{% if (hostvars[committer_validator_ref_host].committer_use_tls is defined) and hostvars[committer_validator_ref_host].committer_use_tls %}
  # Define TLS options and certificate paths used for secure communication
  # between the vc-client and the validators.
  tls:
    # Server CA certificates to trust if tls is enabled.
    ca-cert-paths:
      - {{ loadgen_config_dir }}/tls/validators/ca.crt
{% if (hostvars[committer_validator_ref_host].committer_use_mtls is defined) and hostvars[committer_validator_ref_host].committer_use_mtls %}
    # Path to the TLS key file (private key).
    key-path: {{ loadgen_config_dir }}/tls/server.key
    # Path to the TLS certificate file (public key).
    cert-path: {{ loadgen_config_dir }}/tls/server.crt
    # TLS configuration modes ("none", "tls" or "mtls")
    mode: mtls
{% else %}
    # TLS configuration modes ("none", "tls" or "mtls")
    mode: tls
{% endif %}
{% endif %}

{% include './sections/load-profile.yaml.j2' %}

{% include './sections/monitoring.yaml.j2' +%}

{% include './sections/stream.yaml.j2' +%}

{% include './sections/generate.yaml.j2' +%}

{% include './sections/logging.yaml.j2' +%}
