#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# ---------------------------------------------------------------------------
# Verifier Client Settings
# ---------------------------------------------------------------------------
verifier-client:
  endpoints:
{% for committer_verifier_host in committer_verifier_hosts | default([]) %}
    - {{ hostvars[committer_verifier_host].ansible_host }}:{{ hostvars[committer_verifier_host].committer_rpc_port }}
{% endfor %}
{% if (hostvars[committer_verifier_ref_host].committer_use_tls is defined) and hostvars[committer_verifier_ref_host].committer_use_tls %}
  # Define TLS options and certificate paths used for secure communication
  # between the verifier-client and the verifiers.
  tls:
    # Server CA certificates to trust if tls is enabled.
    ca-cert-paths:
      - {{ loadgen_config_dir }}/tls/verifiers/ca.crt
    # TODO: currently this section must be set even for TLS only: https://github.com/hyperledger/fabric-x-committer/pull/464      
    # Path to the client's TLS private key file.
    key-path: {{ loadgen_config_dir }}/tls/server.key
    # Path to the client's TLS certificate file (public key) for authentication.
    cert-path: {{ loadgen_config_dir }}/tls/server.crt
{% if (hostvars[committer_verifier_ref_host].committer_use_mtls is defined) and hostvars[committer_verifier_ref_host].committer_use_mtls %}
    # TLS mode for orderer client connections: 'none' (no TLS), 'tls' (server auth only),
    # or 'mtls' (mutual TLS with client cert verification).
    mode: mtls
{% else %}
    # TLS mode for orderer client connections: 'none' (no TLS), 'tls' (server auth only),
    # or 'mtls' (mutual TLS with client cert verification).
    mode: tls
{% endif %}
{% endif %}

{% include './sections/server.yaml.j2' %}

{% include './sections/http-server.yaml.j2' %}

{% include './sections/load-profile.yaml.j2' %}

{% include './sections/monitoring.yaml.j2' +%}

{% include './sections/stream.yaml.j2' +%}

{% include './sections/generate.yaml.j2' +%}

{% include './sections/logging.yaml.j2' +%}
