#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Set Yugabyte variables
  vars:
    _yb_masters: >-
      {{
        yugabyte_cluster
        | map('extract', hostvars)
        | selectattr('yugabyte_component_type', 'defined')
        | selectattr('yugabyte_component_type', '==', 'master')
        | map(attribute='inventory_hostname')
        | list
      }}
  ansible.builtin.set_fact:
    yb_masters: "{{ _yb_masters }}"
    yb_master_hosts: >-
      {{
        _yb_masters
        | map('extract', hostvars, 'ansible_host')
        | zip(_yb_masters | map('extract', hostvars, 'yugabyte_master_rpc_bind_port'))
        | map('join', ':')
        | join(',')
      }}

- name: Ensure Yugabyte DB volume dir exists
  ansible.builtin.file:
    path: "{{ yugabyte_remote_config_dir }}/data"
    state: directory
    mode: "0o750"

- name: Start Yugabyte master DB container
  vars:
    container_name: "{{ yugabyte_container_name }}"
    container_image: "{{ yugabyte_db_image }}"
    container_command: >-
      bin/yb-master
      --master_addresses={{ yb_master_hosts }}
      --rpc_bind_addresses=0.0.0.0:{{ yugabyte_master_rpc_bind_port }}
      --webserver_port={{ yugabyte_master_webserver_port }}
      --replication_factor={{ yb_masters | length }}
      --minloglevel={{ yugabyte_logs_level }}
      --stderrthreshold={{ yugabyte_logs_level }}
      --fs_data_dirs=/var/data
    container_ports:
      - "{{ yugabyte_master_rpc_bind_port }}:{{ yugabyte_master_rpc_bind_port }}"
      - "{{ yugabyte_master_webserver_port }}:{{ yugabyte_master_webserver_port }}"
    container_volumes:
      - "{{ yugabyte_remote_config_dir }}/data:/var/data:Z"
    container_ulimits:
      - nofile:1048576:1048576
      - core:-1:-1
      - sigpending:119934:119934
      - nproc:12000:12000
      - memlock:64:-1
      - msgqueue:819200:819200
    container_wait_until_running: true
    container_wait_port: "{{ yugabyte_master_rpc_bind_port }}"
    container_run_as_host_user: true
  ansible.builtin.include_role:
    name: hyperledger.fabricx.container
    tasks_from: start
