requests>=2.34.2
ansible-core>=2.17.0
ansible-lint>=25.11.0
# 37.0.0 breaking kubernetes.core's k8s_exec module (ansible-collections/kubernetes.core#1273)
# 37.0.1 fixed this issue (kubernetes-client/python#2727)
kubernetes>=28.0.0,!=37.0.0
aar-doc>=1.1.0
mkdocs>=1.6.0
mkdocs-callouts>=1.0.0
mkdocs-material>=9.5.0
