#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

{% include './sections/network.yaml.j2' +%}

{% include './sections/logging.yaml.j2' +%}

{% include './sections/gateway.yaml.j2' +%}

{% include './sections/endorser.yaml.j2' +%}
