#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Create list of machines where to run the command
  hosts: "{{ target_hosts | default('all') }}"
  tasks:
    - name: Set the group "machines"
      ansible.builtin.include_role:
        name: hyperledger.fabricx.utils
        tasks_from: select_one_host_per_machine

- name: Run command on the machines
  hosts: "{{ target_hosts | default('machines') }}:&machines"
  tasks:
    - name: Run command "{{ command }}"
      ansible.builtin.command: "{{ command }}"
      changed_when: command_result.rc != 0
      register: command_result
    - name: Show the command output
      ansible.builtin.debug:
        msg: "{{ command_result.stdout_lines }}"
      when:
        - command_result is defined
