#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Start Fabric CA servers
  ansible.builtin.import_playbook: hyperledger.fabricx.fabric_ca_server.start

- name: Start Fabric-X Orderer
  ansible.builtin.import_playbook: hyperledger.fabricx.orderer.start

- name: Start Fabric-X Committer
  ansible.builtin.import_playbook: hyperledger.fabricx.committer.start

- name: Create namespaces on Fabric-X Committer
  ansible.builtin.import_playbook: hyperledger.fabricx.fxconfig.create_namespaces

- name: Start Monitoring
  ansible.builtin.import_playbook: hyperledger.fabricx.monitoring.start

- name: Start Loadgen
  ansible.builtin.import_playbook: hyperledger.fabricx.loadgen.start
