#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Fetch Fabric CA server logs
  ansible.builtin.import_playbook: hyperledger.fabricx.fabric_ca_server.fetch_logs

- name: Fetch Hyperledger Fabric-X Orderer logs
  ansible.builtin.import_playbook: hyperledger.fabricx.orderer.fetch_logs

- name: Fetch Hyperledger Fabric-X Committer logs
  ansible.builtin.import_playbook: hyperledger.fabricx.committer.fetch_logs

- name: Fetch Hyperledger Fabric-X Loadgen logs
  ansible.builtin.import_playbook: hyperledger.fabricx.loadgen.fetch_logs

- name: Fetch Monitoring logs
  ansible.builtin.import_playbook: hyperledger.fabricx.monitoring.fetch_logs
