#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Generate the Fabric-X Committer crypto material
  hosts: "{{ target_hosts | default('fabric_x_committer') }}:&fabric_x_committer"
  tasks:
    - name: Setup Hyperledger Fabric-X Committer Postgres DB crypto material
      ansible.builtin.include_role:
        name: hyperledger.fabricx.postgres
        tasks_from: crypto/setup
      when:
        - postgres_port is defined
    - name: Fetch Hyperledger Fabric-X Committer Postgres DB certificates
      ansible.builtin.include_role:
        name: hyperledger.fabricx.postgres
        tasks_from: crypto/fetch
      when:
        - postgres_port is defined
    - name: Setup Hyperledger Fabric-X Committer Yugabyte DB crypto material
      ansible.builtin.include_role:
        name: hyperledger.fabricx.yugabyte
        tasks_from: crypto/setup
      when:
        - yugabyte_component_type is defined
    - name: Fetch Hyperledger Fabric-X Committer Yugabyte DB certificates
      ansible.builtin.include_role:
        name: hyperledger.fabricx.yugabyte
        tasks_from: crypto/fetch
      when:
        - yugabyte_component_type is defined
    - name: Setup Hyperledger Fabric-X Committer crypto material
      ansible.builtin.include_role:
        name: hyperledger.fabricx.committer
        tasks_from: crypto/setup
      when:
        - committer_component_type is defined
    - name: Fetch Hyperledger Fabric-X Committer certificates
      ansible.builtin.include_role:
        name: hyperledger.fabricx.committer
        tasks_from: crypto/fetch
      when:
        - committer_component_type is defined
