#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Collect the Fabric-X Committer metrics
  hosts: "{{ target_hosts | default('fabric_x_committer') }}:&fabric_x_committer"
  tasks:
    - name: Collect Fabric-X Committer Yugabyte DB metrics
      ansible.builtin.include_role:
        name: hyperledger.fabricx.yugabyte
        tasks_from: get_metrics
      when:
        - yugabyte_component_type is defined
    - name: Collect Fabric-X Committer components metrics
      ansible.builtin.include_role:
        name: hyperledger.fabricx.committer
        tasks_from: get_metrics
      when:
        - yugabyte_component_type is defined
