#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Transfer Fabric-X Committer binaries
  hosts: "{{ target_hosts | default('fabric_x_committer') }}:&fabric_x_committer"
  tasks:
    - name: Transfer the Fabric-X Committer binaries
      ansible.builtin.include_role:
        name: hyperledger.fabricx.committer
        tasks_from: bin/transfer
      when:
        - committer_component_type is defined
        - committer_use_bin is defined
        - committer_use_bin
