#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Generate TLS certificates for the Yugabyte cluster
  ansible.builtin.import_playbook: hyperledger.fabricx.yugabyte.generate_tls_cert

- name: Generate the Fabric-X Committer config files
  hosts: "{{ target_hosts | default('fabric_x_committer') }}:&fabric_x_committer"
  tasks:
    - name: Transfer Yugabyte config files
      ansible.builtin.include_role:
        name: hyperledger.fabricx.yugabyte
        tasks_from: config/transfer
      when:
        - yugabyte_component_type is defined
    - name: Transfer Fabric-X Committer Postgres DB config files
      ansible.builtin.include_role:
        name: hyperledger.fabricx.postgres
        tasks_from: config/transfer
      when:
        - postgres_port is defined
    - name: Fetch Fabric-X Committer Postgres DB certificates
      ansible.builtin.include_role:
        name: hyperledger.fabricx.postgres
        tasks_from: crypto/fetch
      when:
        - postgres_port is defined
    - name: Generate the config files for the Fabric-X Committer
      vars:
        committer_verifiers: >-
          {{
            groups['fabric_x_committer']
            | map('extract', hostvars)
            | selectattr('committer_component_type', 'defined')
            | selectattr('committer_component_type', '==', 'verifier')
            | map(attribute='inventory_hostname')
            | list
          }}
        committer_validators: >-
          {{
            groups['fabric_x_committer']
            | map('extract', hostvars)
            | selectattr('committer_component_type', 'defined')
            | selectattr('committer_component_type', '==', 'validator')
            | map(attribute='inventory_hostname')
            | list
          }}
        committer_coordinator: >-
          {{
            groups['fabric_x_committer']
            | map('extract', hostvars)
            | selectattr('committer_component_type', 'defined')
            | selectattr('committer_component_type', '==', 'coordinator')
            | map(attribute='inventory_hostname')
            | list
            | first
          }}
        orderer_assemblers: >-
          {{
            groups['fabric_x_orderers']
            | default([])
            | map('extract', hostvars)
            | selectattr('orderer_component_type', '==', 'assembler')
            | map(attribute='inventory_hostname')
            | list
          }}
      ansible.builtin.include_role:
        name: hyperledger.fabricx.committer
        tasks_from: config/transfer
      when:
        - committer_component_type is defined
