#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Ensure Fabric-X Committer coordinator config directory exists
  ansible.builtin.file:
    path: "{{ committer_remote_config_dir }}"
    state: directory
    mode: "0o750"

- name: Generate Fabric-X Committer Sidecar config
  vars:
    committer_config_dir: >-
      {{
        committer_remote_config_dir
        if committer_use_bin
        else committer_container_config_dir
      }}
  ansible.builtin.template:
    src: "config-sidecar.yaml.j2"
    dest: "{{ committer_remote_config_dir }}/{{ committer_sidecar_config_file }}"
    mode: "0o644"
