#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Ensure that the cryptogen output folder is clean
  ansible.builtin.file:
    state: absent
    path: "{{ cryptogen_output_dir }}"

- name: Create the cryptogen output folder
  ansible.builtin.file:
    state: directory
    path: "{{ cryptogen_output_dir }}"
    mode: "0o755"

- name: Generate the crypto material with cryptogen as container
  vars:
    container_name: "{{ cryptogen_container_name }}"
    container_image: "{{ cryptogen_image }}"
    container_command: >-
      {{ cryptogen_bin_name }} generate
      --config={{ cryptogen_docker_config_dir }}/{{ cryptogen_config_file }}
      --output={{ cryptogen_docker_output_dir }}
    container_volumes:
      - "{{ cryptogen_config_dir }}:{{ cryptogen_docker_config_dir }}:Z"
      - "{{ cryptogen_output_dir }}:{{ cryptogen_docker_output_dir }}:Z"
    container_run_detach_mode: false
    container_run_as_host_user: true
    container_autoremove: true
  ansible.builtin.include_role:
    name: hyperledger.fabricx.container
    tasks_from: start

- name: Find all TLS CA certs
  ansible.builtin.find:
    paths: "{{ cryptogen_output_dir }}"
    patterns: "tlsca*.pem"
    depth: 4
    recurse: true
  register: tlsca_cert_files

- name: Combine all TLS CA certs in ca-certs.pem
  ansible.builtin.shell: >-
    cat {{ tlsca_cert_files.files | map(attribute='path') | join(' ') }}
    > {{ cryptogen_output_dir }}/ca-certs.pem
  register: result
  changed_when: result.rc != 0
  when: tlsca_cert_files.files | length > 0
