#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# =========================
# Fabric-X Loadgen image
# =========================
loadgen_registry_endpoint: "{{ lookup('env', 'LOADGEN_REGISTRY_ENDPOINT') or 'docker.io/hyperledger' }}"
loadgen_image_name: "fabric-x-loadgen"
loadgen_image_tag: "0.1.7"
loadgen_image: "{{ loadgen_registry_endpoint }}/{{ loadgen_image_name }}:{{ loadgen_image_tag }}"
loadgen_container_name: "{{ inventory_hostname }}"

# =========================
# Fabric-X Loadgen bin
# =========================
loadgen_git_uri: "https://github.com/hyperledger/fabric-x-committer.git"
loadgen_git_dir: "{{ source_code_dir }}/fabric-x-committer"
loadgen_git_commit: "v0.1.7"
loadgen_source_code_dir: "{{ loadgen_git_dir }}/cmd/loadgen"
loadgen_bin_package: "github.com/hyperledger/fabric-x-committer/cmd/loadgen"
loadgen_bin_name: "loadgen"
loadgen_use_bin: false

# =========================
# Paths/Locations
# =========================
loadgen_remote_config_dir: "{{ remote_config_dir }}"
loadgen_container_config_dir: "/config"
loadgen_config_file: "config-loadgen.yaml"
loadgen_admin_pub_key_file: "admin_pub_key.pem"
loadgen_admin_priv_key_file: "admin_priv_key.pem"

# =========================
# Miscellaneous
# =========================
loadgen_key_scheme: "ECDSA"
loadgen_limit_rate: 1000
loadgen_log_level: "INFO"
loadgen_assert_metrics: false
loadgen_tx_seed: "12345"
loadgen_generate_namespace: false
