#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ orderer_k8s_resource_name }}-config
  namespace: {{ k8s_namespace }}
  labels:
    app.kubernetes.io/name: {{ orderer_k8s_resource_name }}
    app.kubernetes.io/component: {{ orderer_component_type }}
    app.kubernetes.io/part-of: fabric-x-orderer
data:
  # Main orderer node configuration passed via --config at startup.
  node-config.yaml: |
    {{ lookup('file', orderer_remote_config_dir + '/' + orderer_config_file) | indent(4) }}
{% if orderer_use_mtls and orderer_mtls_clients is defined %}
{% for current_mtls_client in orderer_mtls_clients %}
  # mTLS CA cert for client {{ current_mtls_client }}.
  mtls-client-{{ current_mtls_client }}-ca.crt: |
    {{ lookup('file', orderer_remote_config_dir + '/mtls/' + current_mtls_client + '/ca.crt') | indent(4) }}
{% endfor %}
{% endif %}
{% if orderer_use_mtls and orderer_mtls_orgs is defined %}
{% for current_mtls_org in orderer_mtls_orgs %}
  # mTLS CA cert for org {{ current_mtls_org.domain }}.
  mtls-org-{{ current_mtls_org.domain }}-ca.crt: |
    {{ lookup('file', orderer_remote_config_dir + '/mtls/' + current_mtls_org.domain + '/ca.crt') | indent(4) }}
{% endfor %}
{% endif %}
binaryData:
  # Genesis block used to bootstrap the orderer channel configuration.
  genesis.block: {{ orderer_k8s_genesis_block_b64 }}
