#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ orderer_k8s_resource_name }}-secret
  namespace: {{ k8s_namespace }}
  labels:
    app.kubernetes.io/name: {{ orderer_k8s_resource_name }}
    app.kubernetes.io/component: {{ orderer_component_type }}
    app.kubernetes.io/part-of: fabric-x-orderer
type: Opaque
data:
  msp-keystore-priv-sk: {{ lookup('file', orderer_k8s_msp_keystore_path) | b64encode }}
  msp-signcert.pem: {{ lookup('file', orderer_k8s_msp_signcert_path) | b64encode }}
  msp-cacert.pem: {{ lookup('file', orderer_k8s_msp_cacert_path) | b64encode }}
  msp-tlscacert.pem: {{ lookup('file', orderer_k8s_msp_tlscacert_path) | b64encode }}
{% if orderer_k8s_msp_admincert_path is defined %}
  msp-admincert.pem: {{ lookup('file', orderer_k8s_msp_admincert_path) | b64encode }}
{% endif %}
  tls-server.key: {{ lookup('file', orderer_k8s_tls_server_key_path) | b64encode }}
  tls-server.crt: {{ lookup('file', orderer_k8s_tls_server_cert_path) | b64encode }}
  tls-ca.crt: {{ lookup('file', orderer_k8s_tls_ca_cert_path) | b64encode }}
