#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Create config build output directory
  ansible.builtin.file:
    path: "{{ configtxgen_artifacts_dir }}"
    state: directory
    mode: "0o755"

- name: Create configtxgen.yaml from template
  vars:
    crypto_artifacts_dir: >-
      {{
        fetched_artifacts_dir
        if configtxgen_use_bin
        else configtxgen_container_crypto_artifacts_dir
      }}
    armageddon_artifacts: >-
      {{
        armageddon_artifacts_dir
        if configtxgen_use_bin
        else configtxgen_armageddon_container_artifacts_dir
      }}
  ansible.builtin.template:
    src: configtx.yaml.j2
    dest: "{{ configtxgen_artifacts_dir }}/{{ configtxgen_config_file }}"
    mode: "0o644"
