#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# container location/paths
container_logs_dir: "{{ out_log_dir }}"
container_logs_file: "{{ inventory_hostname }}_logs.txt"
container_remote_logs_dir: "{{ deploy_dir }}/{{ inventory_hostname }}/logs"
container_remote_logs_file: "logs.txt"

# container misc
container_command: ""
container_ports: []
container_volumes: []
container_ulimits: []
container_env: {}
container_on_mac: "{{ ansible_facts.os_family == 'Darwin' }}"
container_network_mode: "{{ 'bridge' if container_on_mac else 'host' }}"
container_run_as_host_user: false
container_run_detach_mode: true
container_user: "{{ ansible_facts.user_uid ~ ':' ~ ansible_facts.user_gid if container_run_as_host_user else '' }}"
container_healthcheck_interval: "30s"
container_autoremove: false
container_ignore_errors: false

# container network options
container_network_driver: bridge
container_network_attachable: true # docker-only: podman networks are always attachable
container_network_internal: false

# container logs options
container_omit_logs: false
container_log_driver: "json-file"
container_log_max_size: "1g"
container_log_lines: 0

# container rerun options
container_run_until: null
container_run_delay: 0
container_run_retries: 0

# env for wait container
container_wait_until_running: false
container_wait_delay: 1
container_wait_timeout: 60
container_client: "{{ lookup('env', 'CONTAINER_CLIENT') or '' }}"
