#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# =========================
# Container Opts
# =========================
container_client: "{{ lookup('env', 'CONTAINER_CLIENT') or '' }}"
container_run_detach_mode: true
container_healthcheck_interval: "30s"
container_autoremove: false
container_ignore_errors: false

# =========================
# Container User
# =========================
container_host_uid: "{{ ansible_facts.user_uid }}"
container_host_gid: "{{ ansible_facts.user_gid }}"
container_host_user: "{{ container_host_uid }}:{{ container_host_gid }}"
container_host_user_is_root: "{{ container_host_user == '0:0' }}"
container_run_as_host_user: false

# =========================
# Container Logs
# =========================
container_fetched_logs_dir: "{{ fetched_artifacts_dir }}/{{ container_name }}"
container_fetched_logs_file: "logs.txt"
container_remote_logs_dir: "{{ remote_node_dir }}/logs"
container_remote_logs_file: "logs.txt"
container_debug: "{{ lookup('env', 'DEBUG') | bool | default(false) }}"
container_log_driver: "json-file"
container_log_max_size: "1g"
container_log_lines: 0

# =========================
# Container Network
# =========================
container_on_mac: "{{ ansible_facts.os_family == 'Darwin' }}"
container_network_mode: "{{ 'bridge' if (container_on_mac or (container_network is defined)) else 'host' }}"
container_network_driver: bridge
container_network_attachable: true # docker-only: podman networks are always attachable
container_network_internal: false
container_hostname: "{{ container_name | default(inventory_hostname) }}"

# =========================
# Container Rerun Opts
# =========================
container_run_until: null
container_run_delay: 0
container_run_retries: 0

# =========================
# Container Wait Opts
# =========================
container_wait_until_running: false
container_wait_delay: 1
container_wait_timeout: 60
