#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Ensure directory for Yugabyte cluster TLS certificate exists
  vars:
    yugabyte_cluster_hosts: >-
      {{
        groups['all']
        | map('extract', hostvars)
        | selectattr('yugabyte_cluster_id', 'defined')
        | selectattr('yugabyte_cluster_id', '==', yugabyte_cluster_ref_id)
        | selectattr('yugabyte_use_tls', 'defined')
        | selectattr('yugabyte_use_tls', '==', true)
      }}
  ansible.builtin.file:
    path: "{{ committer_remote_config_dir }}/db/tls"
    state: directory
    mode: "0755"
  when:
    - yugabyte_cluster_ref_id is defined
    - yugabyte_cluster_hosts
      | length > 0

- name: Copy Yugabyte cluster CA TLS certificate
  vars:
    yugabyte_cluster_hosts: >-
      {{
        groups['all']
        | map('extract', hostvars)
        | selectattr('yugabyte_cluster_id', 'defined')
        | selectattr('yugabyte_cluster_id', '==', yugabyte_cluster_ref_id)
        | selectattr('yugabyte_use_tls', 'defined')
        | selectattr('yugabyte_use_tls', '==', true)
      }}
    yugabyte_cluster_ref: >-
      {{
        yugabyte_cluster_hosts
        | first
      }}
  ansible.builtin.copy:
    src: "{{ fetched_artifacts_dir }}/crypto/peerOrganizations/{{ yugabyte_cluster_ref.organization.domain }}/msp/tlscacerts/tlsca.{{ yugabyte_cluster_ref.organization.domain }}-cert.pem"
    dest: "{{ committer_remote_config_dir }}/db/tls/cert.pem"
    mode: "0644"
  when:
    - yugabyte_cluster_ref_id is defined
    - yugabyte_cluster_hosts
      | length > 0
