#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Create armageddon config directory
  ansible.builtin.file:
    path: "{{ armageddon_artifacts_dir }}"
    state: directory
    mode: "0o755"

- name: Collect all the Fabric-X Orderer components information
  vars:
    orderer_group_organization_domains: >-
      {{
        armageddon_orderer_hosts
        | sort
        | map('extract', hostvars)
        | selectattr('orderer_group', '==', orderer_group | int)
        | map(attribute='organization.domain')
        | list
        | unique
      }}
    orderer_group_instances: >-
      {{
        armageddon_orderer_hosts
        | sort
        | map('extract', hostvars)
        | selectattr('orderer_group', '==', orderer_group | int)
        | list
      }}
    orderer_group_assembler: >-
      {{
        orderer_group_instances
        | selectattr('orderer_component_type', '==', 'assembler')
        | first
      }}
    orderer_group_consenter: >-
      {{
        orderer_group_instances
        | selectattr('orderer_component_type', '==', 'consenter')
        | first
      }}
    orderer_group_router: >-
      {{
        orderer_group_instances
        | selectattr('orderer_component_type', '==', 'router')
        | first
      }}
    orderer_group_batchers: >-
      {{
        orderer_group_instances
        | selectattr('orderer_component_type', '==', 'batcher')
        | list
      }}
  ansible.builtin.set_fact:
    armageddon_orderer_instances: >-
      {{
        armageddon_orderer_instances | default({}) | combine({
          orderer_group: {
            'organizations': orderer_group_organization_domains,
            'assembler': orderer_group_assembler,
            'consenter': orderer_group_consenter,
            'router': orderer_group_router,
            'batchers': orderer_group_batchers
          }
        })
      }}
  loop: >-
    {{
      armageddon_orderer_hosts
      | map('extract', hostvars)
      | selectattr('orderer_group', 'defined')
      | map(attribute='orderer_group')
      | unique
      | list
    }}
  loop_control:
    loop_var: orderer_group
    label: "orderer_group:{{ orderer_group }}"

- name: Create {{ armageddon_shared_config_file }}
  vars:
    cryptogen_artifacts_dir: >-
      {{
        fetched_artifacts_dir
        if armageddon_use_bin
        else armageddon_container_crypto_artifacts_dir
      }}
  ansible.builtin.template:
    src: shared_config.yaml.j2
    dest: "{{ armageddon_artifacts_dir }}/{{ armageddon_shared_config_file }}"
    mode: "0o644"
