#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ alloy_k8s_resource_name }}-secret
  labels:
    app.kubernetes.io/name: {{ alloy_k8s_resource_name }}
    app.kubernetes.io/component: alloy
    app.kubernetes.io/part-of: {{ alloy_k8s_part_of }}
type: Opaque
data:
{% if alloy_use_tls %}
  {{ alloy_tls_private_key_file }}: {{ lookup('file', alloy_k8s_tls_server_key_path) | b64encode }}
  {{ alloy_tls_cert_file }}: {{ lookup('file', alloy_k8s_tls_server_cert_path) | b64encode }}
{% endif %}
