#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ grafana_dashboard_name }}
  namespace: {{ k8s_namespace }}
  labels:
    app.kubernetes.io/name: {{ grafana_k8s_resource_name }}
    app.kubernetes.io/component: grafana
    app.kubernetes.io/part-of: {{ grafana_k8s_part_of }}
data:
  {{ grafana_dashboard_file }}: |
    {{ lookup('file', grafana_dashboard_path) | from_json | to_json }}
