#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
---
{% set grafana_dashboard_cm_name = grafana_k8s_resource_name + '-dashboard-' + (current_grafana_dashboard | basename | replace('.json', '') | lower | replace('_', '-')) %}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ grafana_dashboard_cm_name }}
  namespace: {{ k8s_namespace }}
  labels:
    app.kubernetes.io/name: {{ grafana_k8s_resource_name }}
    app.kubernetes.io/component: grafana
    app.kubernetes.io/part-of: monitoring
data:
  {{ current_grafana_dashboard | basename }}: |
    {{ lookup('file', current_grafana_dashboard) | from_json | to_json }}
