#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ grafana_k8s_resource_name }}
  namespace: {{ k8s_namespace }}
  labels:
    app.kubernetes.io/name: {{ grafana_k8s_resource_name }}
    app.kubernetes.io/component: grafana
    app.kubernetes.io/part-of: {{ grafana_k8s_part_of }}
type: Opaque
data:
  admin-user: {{ grafana_username | b64encode }}
  admin-password: {{ grafana_password | b64encode }}
{% if grafana_use_tls %}
  server.key: {{ lookup('file', grafana_k8s_tls_key_path) | b64encode }}
  server.crt: {{ lookup('file', grafana_k8s_tls_cert_path) | b64encode }}
{% endif %}
