#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
---
apiVersion: v1
kind: Service
metadata:
  name: {{ grafana_k8s_resource_name }}
  namespace: {{ k8s_namespace }}
  labels:
    app.kubernetes.io/name: {{ grafana_k8s_resource_name }}
    app.kubernetes.io/component: grafana
    app.kubernetes.io/part-of: monitoring
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: {{ grafana_k8s_resource_name }}
  ports:
    - name: web
      port: {{ grafana_web_port }}
      targetPort: {{ grafana_web_port }}
