#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Build the Fabric-X Orderer binaries
  hosts: localhost
  tasks:
    - name: Install the Fabric-X Orderer binaries for the not dockerized Fabric-X Orderer hosts
      vars:
        orderer_service_instances: >-
          {{
            groups[target_hosts | default('fabric_x_orderers')]
            | intersect(groups['fabric_x_orderers'])
            | map('extract', hostvars)
            | selectattr("orderer_use_bin", 'defined')
            | selectattr("orderer_use_bin", '==', true)
            | selectattr("orderer_build_bin", 'undefined')
            | map(attribute='inventory_hostname')
            | list
          }}
      ansible.builtin.include_role:
        name: hyperledger.fabricx.orderer
        tasks_from: bin/multiplatform_install
      when:
        - "'fabric_x_orderers' in groups"
        - orderer_service_instances | length > 0
    - name: Build the Fabric-X Orderer binaries for the not dockerized Fabric-X Orderer hosts
      vars:
        orderer_service_instances: >-
          {{
            groups[target_hosts | default('fabric_x_orderers')]
            | intersect(groups['fabric_x_orderers'])
            | map('extract', hostvars)
            | selectattr("orderer_use_bin", 'defined')
            | selectattr("orderer_use_bin", '==', true)
            | selectattr("orderer_build_bin", 'defined')
            | selectattr("orderer_build_bin", '==', true)
            | map(attribute='inventory_hostname')
            | list
          }}
      ansible.builtin.include_role:
        name: hyperledger.fabricx.orderer
        tasks_from: bin/multiplatform_build
      when:
        - "'fabric_x_orderers' in groups"
        - orderer_service_instances | length > 0
