#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Ensure Prometheus directory exists
  ansible.builtin.file:
    path: "{{ prometheus_remote_config_dir }}"
    state: directory
    mode: "0o755"

- name: Generate {{ prometheus_config_file }}
  ansible.builtin.template:
    src: "prometheus.yaml.j2"
    dest: "{{ prometheus_remote_config_dir }}/{{ prometheus_config_file }}"
    mode: "0o644"

- name: Generate {{ prometheus_web_config_file }}
  ansible.builtin.template:
    src: "web-config.yaml.j2"
    dest: "{{ prometheus_remote_config_dir }}/{{ prometheus_web_config_file }}"
    mode: "0o644"
  when:
    - prometheus_use_tls

- name: Generate {{ prometheus_http_config_file }} for promtool
  ansible.builtin.template:
    src: "http-config.yaml.j2"
    dest: "{{ prometheus_remote_config_dir }}/{{ prometheus_http_config_file }}"
    mode: "0o644"
  when:
    - prometheus_use_tls

- name: Ensure TLS folder exists
  ansible.builtin.file:
    path: "{{ prometheus_remote_config_dir }}/tls/{{ service_to_scrape.job_name }}"
    state: directory
    mode: "0o755"
  loop: "{{ prometheus_scrape_services }}"
  loop_control:
    loop_var: service_to_scrape
    label: "{{ service_to_scrape.job_name }}"
  when:
    - prometheus_scrape_services is defined
    - service_to_scrape.use_tls is defined
    - service_to_scrape.use_tls
    - service_to_scrape.tls_ca_file is defined

- name: Transfer TLS certificates
  ansible.builtin.copy:
    src: "{{ service_to_scrape.tls_ca_file }}"
    dest: "{{ prometheus_remote_config_dir }}/tls/{{ service_to_scrape.job_name }}/ca.crt"
    mode: preserve
  loop: "{{ prometheus_scrape_services }}"
  loop_control:
    loop_var: service_to_scrape
    label: "{{ service_to_scrape.job_name }}"
  when:
    - prometheus_scrape_services is defined
    - service_to_scrape.use_tls is defined
    - service_to_scrape.use_tls
    - service_to_scrape.tls_ca_file is defined
