#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Create multiple namespaces with fxconfig binary
  vars:
    fxconfig_namespace: "{{ current_namespace.name }}"
  ansible.builtin.include_role:
    name: hyperledger.fabricx.fxconfig
    tasks_from: bin/namespace_create
  loop: "{{ fxconfig_namespaces }}"
  loop_control:
    loop_var: current_namespace
    label: "{{ fxconfig_namespace }}"
  when:
    - fxconfig_use_bin

- name: Create multiple namespaces with fxconfig container
  vars:
    fxconfig_namespace: "{{ current_namespace.name }}"
  ansible.builtin.include_role:
    name: hyperledger.fabricx.fxconfig
    tasks_from: container/namespace_create
  loop: "{{ fxconfig_namespaces }}"
  loop_control:
    loop_var: current_namespace
    label: "{{ fxconfig_namespace }}"
  when:
    - not fxconfig_use_bin
