#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Start Hyperledger Fabric-X Committer Sidecar container
  vars:
    container_name: "{{ committer_container_name }}"
    container_image: "{{ committer_image }}"
    container_command: >-
      committer start-sidecar
      --config={{ committer_container_config_dir }}/{{ committer_sidecar_config_file }}
    container_ports:
      - "{{ committer_rpc_port }}:{{ committer_rpc_port }}"
      - "{{ prometheus_exporter_port }}:{{ prometheus_exporter_port }}"
    container_volumes:
      - "{{ committer_remote_config_dir }}:{{ committer_container_config_dir }}:Z"
    container_wait_until_running: true
    container_wait_port: "{{ committer_rpc_port }}"
  ansible.builtin.include_role:
    name: hyperledger.fabricx.container
    tasks_from: start
