#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Generate the Monitoring tools crypto material
  hosts: "{{ target_hosts | default('monitoring') }}:&monitoring"
  tasks:
    # =========================
    # Node Exporter
    # =========================
    - name: Setup Node Exporter crypto material
      ansible.builtin.include_role:
        name: hyperledger.fabricx.node_exporter
        tasks_from: crypto/setup
      when:
        - node_exporter_port is defined
    - name: Fetch Node Exporter crypto material
      ansible.builtin.include_role:
        name: hyperledger.fabricx.node_exporter
        tasks_from: crypto/fetch
      when:
        - node_exporter_port is defined
    # =========================
    # Postgres Exporter
    # =========================
    - name: Setup Postgres Exporter crypto material
      ansible.builtin.include_role:
        name: hyperledger.fabricx.postgres_exporter
        tasks_from: crypto/setup
      when:
        - postgres_exporter_port is defined
    - name: Fetch Postgres Exporter certificates
      ansible.builtin.include_role:
        name: hyperledger.fabricx.postgres_exporter
        tasks_from: crypto/fetch
      when:
        - postgres_exporter_port is defined
    # =========================
    # ElasticSearch
    # =========================
    - name: Setup ElasticSearch crypto material
      ansible.builtin.include_role:
        name: hyperledger.fabricx.elasticsearch
        tasks_from: crypto/setup
      when:
        - elasticsearch_http_port is defined
    - name: Fetch ElasticSearch certificates
      ansible.builtin.include_role:
        name: hyperledger.fabricx.elasticsearch
        tasks_from: crypto/fetch
      when:
        - elasticsearch_http_port is defined
    # =========================
    # Prometheus
    # =========================
    - name: Setup Prometheus crypto material
      ansible.builtin.include_role:
        name: hyperledger.fabricx.prometheus
        tasks_from: crypto/setup
      when:
        - prometheus_port is defined
    - name: Fetch Prometheus certificates
      ansible.builtin.include_role:
        name: hyperledger.fabricx.prometheus
        tasks_from: crypto/fetch
      when:
        - prometheus_port is defined
    # =========================
    # Grafana
    # =========================
    - name: Setup Grafana crypto material
      ansible.builtin.include_role:
        name: hyperledger.fabricx.grafana
        tasks_from: crypto/setup
      when:
        - grafana_web_port is defined
    - name: Fetch Grafana certificates
      ansible.builtin.include_role:
        name: hyperledger.fabricx.grafana
        tasks_from: crypto/fetch
      when:
        - grafana_web_port is defined
