#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Create config build output directory
  ansible.builtin.file:
    path: "{{ configtxgen_artifacts_dir }}"
    state: directory
    mode: "0o755"

- name: Generate the genesis block with configtxgen as container
  vars:
    container_name: "{{ configtxgen_container_name }}"
    container_image: "{{ configtxgen_image }}"
    container_command: >-
      {{ configtxgen_bin_name }}
      -channelID {{ configtxgen_channel_id }}
      -profile {{ configtxgen_profile_id }}
      -configPath {{ configtxgen_container_artifacts_dir }}
      --outputBlock {{ configtxgen_container_artifacts_dir }}/{{ configtxgen_channel_id }}_block.pb
    container_volumes:
      - "{{ fetched_artifacts_dir }}/crypto:{{ configtxgen_container_crypto_artifacts_dir }}:Z"
      - "{{ armageddon_artifacts_dir }}:{{ configtxgen_armageddon_container_artifacts_dir }}:Z"
      - "{{ configtxgen_artifacts_dir }}:{{ configtxgen_container_artifacts_dir }}:Z"
    container_run_detach_mode: false
    container_run_as_host_user: true
    container_autoremove: true
  ansible.builtin.include_role:
    name: hyperledger.fabricx.container
    tasks_from: start
