#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Find all TLS CA certs
  ansible.builtin.find:
    paths: "{{ cryptogen_output_dir }}"
    patterns: "tlsca*.pem"
    depth: 4
    recurse: true
  register: cryptogen_tlsca_certs

- name: Combine all TLS CA certs in ca-certs.pem
  ansible.builtin.shell: >-
    cat {{ cryptogen_tlsca_certs.files | map(attribute='path') | join(' ') }}
    > {{ cryptogen_output_dir }}/ca-certs.pem
  register: cryptogen_combine_tlscas
  changed_when: cryptogen_combine_tlscas.rc != 0
  when:
    - cryptogen_tlsca_certs.files | length > 0
