#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# =========================
# Orderer-Client
# =========================
- name: Transfer the Hyperledger Fabric-X Orderer Client config files
  vars:
    committer_sidecar_host: >-
      {{
        committer_hosts
        | map('extract', hostvars)
        | selectattr('committer_component_type', 'defined')
        | selectattr('committer_component_type', '==', 'sidecar')
        | map(attribute='inventory_hostname')
        | list
        | first
      }}
    orderer_router_hosts: >-
      {{
        orderer_hosts
        | map('extract', hostvars)
        | selectattr('orderer_component_type', '==', 'router')
        | map(attribute='inventory_hostname')
        | list
      }}
    orderer_assembler_hosts: >-
      {{
        orderer_hosts
        | map('extract', hostvars)
        | selectattr('orderer_component_type', '==', 'assembler')
        | map(attribute='inventory_hostname')
        | list
      }}
  ansible.builtin.include_role:
    name: hyperledger.fabricx.loadgen
    tasks_from: config/orderer-client/transfer
  when:
    - loadgen_type == 'orderer-client'

# =========================
# Coordinator Client
# =========================
- name: Transfer the Hyperledger Fabric-X Coordinator Client config files
  vars:
    committer_coordinator_host: >-
      {{
        committer_hosts
        | map('extract', hostvars)
        | selectattr('committer_component_type', 'defined')
        | selectattr('committer_component_type', '==', 'coordinator')
        | map(attribute='inventory_hostname')
        | list
        | first
      }}
  ansible.builtin.include_role:
    name: hyperledger.fabricx.loadgen
    tasks_from: config/coordinator-client/transfer
  when:
    - loadgen_type == 'coordinator-client'

# =========================
# Verifiers Client
# =========================
- name: Transfer the Hyperledger Fabric-X Verifiers Client config files
  vars:
    committer_verifier_hosts: >-
      {{
        committer_hosts
        | map('extract', hostvars)
        | selectattr('committer_component_type', 'defined')
        | selectattr('committer_component_type', '==', 'verifier')
        | map(attribute='inventory_hostname')
        | list
      }}
  ansible.builtin.include_role:
    name: hyperledger.fabricx.loadgen
    tasks_from: config/verifier-client/transfer
  when:
    - loadgen_type == 'verifier-client'

# =========================
# Validators Client
# =========================
- name: Transfer the Hyperledger Fabric-X Validators Client config files
  vars:
    committer_validator_hosts: >-
      {{
        committer_hosts
        | map('extract', hostvars)
        | selectattr('committer_component_type', 'defined')
        | selectattr('committer_component_type', '==', 'validator')
        | map(attribute='inventory_hostname')
        | list
      }}
  ansible.builtin.include_role:
    name: hyperledger.fabricx.loadgen
    tasks_from: config/validator-client/transfer
  when:
    - loadgen_type == 'validator-client'

# =========================
# Sidecar Client
# =========================
- name: Transfer the Hyperledger Fabric-X Sidecar Client config files
  vars:
    committer_sidecar_host: >-
      {{
        committer_hosts
        | map('extract', hostvars)
        | selectattr('committer_component_type', 'defined')
        | selectattr('committer_component_type', '==', 'sidecar')
        | map(attribute='inventory_hostname')
        | list
        | first
      }}
  ansible.builtin.include_role:
    name: hyperledger.fabricx.loadgen
    tasks_from: config/sidecar-client/transfer
  when:
    - loadgen_type == 'sidecar-client'
