#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ k8s_rbac_resource_name }}
  labels:
    app.kubernetes.io/name: {{ k8s_rbac_resource_name }}
    app.kubernetes.io/part-of: {{ k8s_rbac_part_of }}
