#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Transfer Yugabyte cluster TLS certificate
  vars:
    yugabyte_cluster_tls_hosts: >-
      {{
        groups['all']
        | map('extract', hostvars)
        | selectattr('yugabyte_cluster_id', 'defined')
        | selectattr('yugabyte_cluster_id', '==', yugabyte_cluster_ref_id)
        | selectattr('yugabyte_use_tls', 'defined')
        | selectattr('yugabyte_use_tls', '==', true)
        | map(attribute='inventory_hostname')
      }}
    yugabyte_cluster_ref_host: "{{ yugabyte_cluster_tls_hosts | first }}"
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: config/db/yugabyte/transfer
  when:
    - yugabyte_cluster_ref_id is defined
    - yugabyte_cluster_tls_hosts
      | length > 0

- name: Transfer PostgresDB TLS certificate
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: config/db/postgres/transfer
  when:
    - postgres_db_host is defined
    - hostvars[postgres_db_host].postgres_use_tls is defined
    - hostvars[postgres_db_host].postgres_use_tls
