#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# =========================
# With OpenSSL
# =========================
- name: Generate ElasticSearch TLS crypto material with OpenSSL
  ansible.builtin.include_role:
    name: hyperledger.fabricx.elasticsearch
    tasks_from: crypto/openssl/generate_cert
  when:
    - elasticsearch_use_tls

# =========================
# Permissions Adjustment
# =========================
- name: Adjust Elasticsearch TLS private key permissions
  vars:
    container_volume_path: "{{ elasticsearch_remote_config_dir }}/tls/{{ elasticsearch_tls_private_key_file }}"
    container_volume_mode: "0o600"
    container_volume_uid: "1000"
    container_volume_gid: "0"
    container_volume_type: file
  ansible.builtin.include_role:
    name: hyperledger.fabricx.container
    tasks_from: volume/create
  when:
    - elasticsearch_use_tls

# This operation is needed for systems where openssl runs with umask=027.
# In this case the certificate will be created with permission 0o640, which
# makes it unreadable from within Elasticsearch (running with user 1000).
- name: Set right permissions for ElasticSearch TLS certificate
  ansible.builtin.file:
    path: "{{ elasticsearch_remote_config_dir }}/tls/{{ elasticsearch_tls_cert_file }}"
    mode: "0o644"
  when:
    - elasticsearch_use_tls
