#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# =========================
# With OpenSSL
# =========================
- name: Generate ElasticSearch TLS crypto material with OpenSSL
  ansible.builtin.include_role:
    name: hyperledger.fabricx.elasticsearch
    tasks_from: crypto/openssl/generate_cert
  when:
    - elasticsearch_use_tls
