#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Ensure Yugabyte DB volume dir exists
  ansible.builtin.file:
    path: "{{ yugabyte_remote_config_dir }}/data"
    state: directory
    mode: "0o750"

- name: Start standalone Yugabyte container
  vars:
    container_name: "{{ yugabyte_container_name }}"
    container_image: "{{ yugabyte_db_image }}"
    container_ports:
      - "7100:7100" # yugabyte_master_rpc_bind_port for the master cannot be changed in the standalone deployment
      - "{{ yugabyte_master_webserver_port }}:{{ yugabyte_master_webserver_port }}"
      - "{{ yugabyte_tablet_pgsql_bind_port }}:{{ yugabyte_tablet_pgsql_bind_port }}"
      - "{{ yugabyte_tablet_rpc_bind_port }}:{{ yugabyte_tablet_rpc_bind_port }}"
      - "{{ yugabyte_tablet_webserver_port }}:{{ yugabyte_tablet_webserver_port }}"
      - "{{ yugabyte_tablet_redis_web_port }}:{{ yugabyte_tablet_redis_web_port }}"
      - "{{ yugabyte_tablet_pgsql_web_port }}:{{ yugabyte_tablet_pgsql_web_port }}"
      - "{{ yugabyte_tablet_cql_bind_port }}:{{ yugabyte_tablet_cql_bind_port }}"
      - "{{ yugabyte_tablet_cql_web_port }}:{{ yugabyte_tablet_cql_web_port }}"
    container_command: >-
      bin/yugabyted start
      --base_dir /var/data
      --advertise_address 0.0.0.0
      --master_flags webserver_interface=0.0.0.0,rpc_bind_addresses=0.0.0.0:7100
      --master_webserver_port {{ yugabyte_master_webserver_port }}
      --tserver_flags webserver_interface=0.0.0.0,rpc_bind_addresses=0.0.0.0:{{ yugabyte_tablet_rpc_bind_port }},pgsql_proxy_bind_address=0.0.0.0:{{ yugabyte_tablet_pgsql_bind_port }},cql_proxy_bind_address=0.0.0.0:{{ yugabyte_tablet_cql_bind_port }},redis_proxy_bind_address=0.0.0.0:{{ yugabyte_tablet_redis_rpc_port }},webserver_port={{ yugabyte_tablet_webserver_port }},redis_proxy_webserver_port={{ yugabyte_tablet_redis_web_port }},pgsql_proxy_webserver_port={{ yugabyte_tablet_pgsql_web_port }},cql_proxy_webserver_port={{ yugabyte_tablet_cql_web_port }}
      --ysql_port {{ yugabyte_tablet_pgsql_bind_port }}
      --callhome false
      --fault_tolerance none
      --background false
      --initial_scripts_dir /var/ybinit
      --insecure
    container_volumes:
      - "{{ yugabyte_remote_config_dir }}/init:/var/ybinit"
      - "{{ yugabyte_remote_config_dir }}/data:/var/data"
    container_healthcheck_test: >-
      ysqlsh
      -h localhost
      -d {{ yugabyte_db }}
      -U {{ yugabyte_user }}
      -p {{ yugabyte_tablet_pgsql_bind_port }}
      -c '\q'
    container_wait_until_running: true
    container_wait_port: "{{ yugabyte_tablet_pgsql_bind_port }}"
    container_run_as_host_user: true
  ansible.builtin.include_role:
    name: hyperledger.fabricx.container
    tasks_from: start
