#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Ensure orderer-client config directory exists
  ansible.builtin.file:
    path: "{{ loadgen_remote_config_dir }}"
    state: directory
    mode: "0o755"

- name: Generate the config for the Hyperledger Fabric-X Orderer Loadgen
  vars:
    orderer_ref_host: "{{ orderer_routers | first }}"
    loadgen_config_dir: "{{ loadgen_remote_config_dir if loadgen_use_bin else loadgen_container_config_dir }}"
  ansible.builtin.template:
    src: "orderer-client.yaml.j2"
    dest: "{{ loadgen_remote_config_dir }}/{{ loadgen_config_file }}"
    mode: "0o644"

# =========================
# HLFX Orderer Routers TLS
# =========================
- name: Ensure Hyperledger Fabric-X Orderer Routers TLS folders exist
  ansible.builtin.file:
    path: "{{ loadgen_remote_config_dir }}/tls/orderers/{{ current_orderer_router }}"
    state: directory
    mode: "0o755"
  loop: "{{ orderer_routers }}"
  loop_control:
    loop_var: current_orderer_router
    label: "{{ current_orderer_router }}"
  when:
    - hostvars[current_orderer_router].orderer_use_tls is defined
    - hostvars[current_orderer_router].orderer_use_tls

- name: Transfer Hyperledger Fabric-X Orderer Routers TLS CA certificates
  ansible.builtin.copy:
    src: "{{ fetched_artifacts_dir }}/{{ current_orderer_router }}/tls/ca.crt"
    dest: "{{ loadgen_remote_config_dir }}/tls/orderers/{{ current_orderer_router }}/ca.crt"
    mode: "0o644"
  loop: "{{ orderer_routers }}"
  loop_control:
    loop_var: current_orderer_router
    label: "{{ current_orderer_router }}"
  when:
    - hostvars[current_orderer_router].orderer_use_tls is defined
    - hostvars[current_orderer_router].orderer_use_tls

# =========================
# HLFX Orderer Assemblers TLS
# =========================
- name: Ensure Hyperledger Fabric-X Orderer Assemblers TLS folders exist
  ansible.builtin.file:
    path: "{{ loadgen_remote_config_dir }}/tls/orderers/{{ current_orderer_assembler }}"
    state: directory
    mode: "0o755"
  loop: "{{ orderer_assemblers }}"
  loop_control:
    loop_var: current_orderer_assembler
    label: "{{ current_orderer_assembler }}"
  when:
    - orderer_assemblers is defined
    - hostvars[current_orderer_assembler].orderer_use_tls is defined
    - hostvars[current_orderer_assembler].orderer_use_tls

- name: Transfer Hyperledger Fabric-X Orderer Assemblers TLS CA certificates
  ansible.builtin.copy:
    src: "{{ fetched_artifacts_dir }}/{{ current_orderer_assembler }}/tls/ca.crt"
    dest: "{{ loadgen_remote_config_dir }}/tls/orderers/{{ current_orderer_assembler }}/ca.crt"
    mode: "0o644"
  loop: "{{ orderer_assemblers }}"
  loop_control:
    loop_var: current_orderer_assembler
    label: "{{ current_orderer_assembler }}"
  when:
    - orderer_assemblers is defined
    - hostvars[current_orderer_assembler].orderer_use_tls is defined
    - hostvars[current_orderer_assembler].orderer_use_tls

# =========================
# HLFX Committer Sidecar TLS
# =========================
- name: Ensure Hyperledger Fabric-X Committer Sidecar TLS folder exist
  ansible.builtin.file:
    path: "{{ loadgen_remote_config_dir }}/tls/sidecar"
    state: directory
    mode: "0o755"
  when:
    - committer_sidecar is defined
    - hostvars[committer_sidecar].committer_use_tls is defined
    - hostvars[committer_sidecar].committer_use_tls

- name: Transfer Hyperledger Fabric-X Committer Sidecar TLS CA certificate
  ansible.builtin.copy:
    src: "{{ fetched_artifacts_dir }}/{{ committer_sidecar }}/tls/ca.crt"
    dest: "{{ loadgen_remote_config_dir }}/tls/sidecar/ca.crt"
    mode: "0o644"
  when:
    - committer_sidecar is defined
    - hostvars[committer_sidecar].committer_use_tls is defined
    - hostvars[committer_sidecar].committer_use_tls
