#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Ensure orderer-client config directory exists
  ansible.builtin.file:
    path: "{{ loadgen_remote_config_dir }}"
    state: directory
    mode: "0o750"

- name: Generate the config for the Fabric-X Loadgen for the Fabric-X Orderer
  vars:
    loadgen_config_dir: "{{ loadgen_remote_config_dir if loadgen_use_bin else loadgen_container_config_dir }}"
  ansible.builtin.template:
    src: "orderer-client.yaml.j2"
    dest: "{{ loadgen_remote_config_dir }}/{{ loadgen_config_file }}"
    mode: "0o644"

- name: Ensure the load-generator users config directory exists
  ansible.builtin.file:
    path: "{{ loadgen_remote_config_dir }}/users"
    state: directory
    mode: "0o750"
  when:
    - organization is defined
    - organization.users is defined
    - organization.fabric_ca_host is undefined

- name: Transfer the Fabric-X Loadgen users crypto material
  ansible.posix.synchronize:
    src: "{{ cryptogen_artifacts_dir }}/crypto/peerOrganizations/{{ organization.domain }}/users/{{ user.name }}@{{ organization.domain }}"
    dest: "{{ loadgen_remote_config_dir }}/users"
  loop: "{{ organization.users }}"
  loop_control:
    label: "{{ user.name }}"
    loop_var: user
  when:
    - organization is defined
    - organization.users is defined
    - organization.fabric_ca_host is undefined
