#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# =========================
# Fabric-X Committer image
# =========================
committer_registry_endpoint: "{{ lookup('env', 'COMMITTER_REGISTRY_ENDPOINT') or 'docker.io/hyperledger' }}"
committer_image_name: "fabric-x-committer"
committer_image_tag: "0.1.5"
committer_image: "{{ committer_registry_endpoint }}/{{ committer_image_name }}:{{ committer_image_tag }}"
committer_container_name: "{{ inventory_hostname }}"

# =========================
# Fabric-X Committer bin
# =========================
committer_git_uri: "https://github.com/hyperledger/fabric-x-committer.git"
committer_git_dir: "{{ source_code_dir }}/fabric-x-committer"
committer_git_commit: "v0.1.5"
committer_source_code_dir: "{{ committer_git_dir }}/cmd/committer"
committer_bin_package: "github.com/hyperledger/fabric-x-committer/cmd/committer"
committer_bin_name: "committer"
committer_use_bin: false

# =========================
# Paths/Locations
# =========================
committer_remote_config_dir: "{{ remote_config_dir }}"
committer_container_config_dir: "/config"
committer_verifier_config_file: "config-verifier.yml"
committer_validator_config_file: "config-validator.yml"
committer_coordinator_config_file: "config-coordinator.yml"
committer_sidecar_config_file: "config-sidecar.yml"
committer_query_service_config_file: "config-query-service.yml"

# =========================
# Fabric-X Committer TLS/mTLS
# =========================
committer_use_tls: false

# =========================
# Miscellaneous
# =========================
committer_log_level: "INFO"
committer_coordinator_dep_graph_wait_tx_limit: 20000000
committer_coordinator_dep_graph_constructors: 4
