#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# Fabric-X Committer docker images vars
committer_registry_endpoint: "{{ lookup('env', 'COMMITTER_REGISTRY_ENDPOINT') or 'docker.io/hyperledger' }}"
committer_image_name: "fabric-x-committer"
committer_image_tag: "0.1.3"
committer_image: "{{ committer_registry_endpoint }}/{{ committer_image_name }}:{{ committer_image_tag }}"
committer_container_name: "{{ inventory_hostname }}"

# Fabric-X Committer bin
committer_git_uri: "https://github.com/hyperledger/fabric-x-committer.git"
committer_git_dir: "{{ source_code_dir }}/fabric-x-committer"
committer_git_commit: "v0.1.3"
committer_source_code_dir: "{{ committer_git_dir }}/cmd/committer"
committer_bin_package: "github.com/hyperledger/fabric-x-committer/cmd/committer"
committer_bin_name: "committer"

# Fabric-X Committer Config locations/names
committer_cryptogen_artifact_build_dir: "{{ config_build_dir }}/cryptogen-artifacts"
committer_remote_config_dir: "{{ remote_config_dir }}"
committer_docker_config_dir: "/config"
committer_verifier_config_file: "config-verifier.yml"
committer_validator_config_file: "config-validator.yml"
committer_coordinator_config_file: "config-coordinator.yml"
committer_sidecar_config_file: "config-sidecar.yml"

# Fabric-X Committer misc vars
committer_use_postgres: "{{ lookup('env', 'COMMITTER_USE_POSTGRES') or false }}"
committer_use_tls: false
committer_use_bin: "{{ use_bin | default(false) }}"
committer_log_level: "INFO"
committer_coordinator_dep_graph_wait_tx_limit: 20000000
committer_coordinator_dep_graph_constructors: 4
