#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Transfer the Hyperledger Fabric-X Orderer TLS certificate to trust
  ansible.builtin.file:
    path: "{{ fxconfig_remote_config_dir }}/namespaces/{{ current_namespace.name }}"
    state: directory
    mode: "0o755"
  loop: "{{ fxconfig_namespaces }}"
  loop_control:
    loop_var: current_namespace
    label: "{{ current_namespace.name }}"

- name: Transfer the namespaces endorsement public key certificate
  vars:
    current_organization: "{{ current_namespace.user.organization }}"
    current_user: "{{ current_namespace.user }}"
  ansible.builtin.copy:
    src: "{{ fetched_artifacts_dir }}/crypto/peerOrganizations/{{ current_organization.domain }}/users/{{ current_user.name }}@{{ current_organization.domain }}/msp/signcerts/{{ current_user.name }}@{{ current_organization.domain }}-cert.pem"
    dest: "{{ fxconfig_remote_config_dir }}/namespaces/{{ current_namespace.name }}/pubkey.pem"
    mode: "0o644"
  loop: "{{ fxconfig_namespaces }}"
  loop_control:
    loop_var: current_namespace
    label: "{{ current_namespace.name }}:{{ current_user.name }}@{{ current_organization.domain }}"

- name: Transfer the Hyperledger Fabric-X Orderer TLS certificate to trust
  ansible.builtin.file:
    path: "{{ fxconfig_remote_config_dir }}/tls/orderer"
    state: directory
    mode: "0o755"
  when:
    - hostvars[orderer_router_host].orderer_use_tls is defined
    - hostvars[orderer_router_host].orderer_use_tls

- name: Transfer the Hyperledger Fabric-X Orderer TLS certificate to trust
  ansible.builtin.copy:
    src: "{{ fetched_artifacts_dir }}/{{ orderer_router_host }}/tls/ca.crt"
    dest: "{{ fxconfig_remote_config_dir }}/tls/orderer/ca.crt"
    mode: "0o644"
  when:
    - hostvars[orderer_router_host].orderer_use_tls is defined
    - hostvars[orderer_router_host].orderer_use_tls
