#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# Grafana provisioning API version (currently only version 1 is supported)
apiVersion: 1

# List of datasource definitions
datasources:
  - name: "Prometheus"
    # Type of datasource plugin to use
    type: "prometheus"
    # Access mode - “proxy” lets Grafana forward queries through its backend
    access: "proxy"
    # URL of the Prometheus server (environment variable substitution)
{% if hostvars[prometheus_host].prometheus_use_tls is defined and hostvars[prometheus_host].prometheus_use_tls %}
    url: https://{{ hostvars[prometheus_host].ansible_host }}:{{ hostvars[prometheus_host].prometheus_port }}
    # TLS settings to access a datasource behind TLS
    jsonData:
      # Enable TLS authentication
      tlsAuth: true
      # Enable CA certificate verification for TLS
      tlsAuthWithCACert: true
      # Disable skipping TLS certificate verification
      tlsSkipVerify: false
    secureJsonData:
      # Path to the TLS CA certificate
      tlsCACert: $__file{% raw %}{{% endraw %}{{ grafana_container_config_dir }}/tls/{{ prometheus_host }}/ca.crt{% raw %}}{% endraw %}
{% else %}
    url: http://{{ hostvars[prometheus_host].ansible_host }}:{{ hostvars[prometheus_host].prometheus_port }}
{% endif +%}
    # HTTP method used for queries
    httpMethod: GET
    # Make this the default datasource for the organization
    isDefault: true
    # Version of the datasource definition (used for migrations)
    version: 1
    # Allow editing of this datasource via the Grafana UI
    editable: true
