#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ yugabyte_k8s_resource_name }}-secret
  namespace: {{ k8s_namespace }}
  labels:
    app.kubernetes.io/name: {{ yugabyte_k8s_resource_name }}
    app.kubernetes.io/part-of: yugabyte
type: Opaque
data:
{% if yugabyte_use_tls %}
  # Key names must match exactly what YugabyteDB looks for in --certs_dir.
  ca.crt: {{ lookup('file', yugabyte_k8s_tls_ca_path) | b64encode }}
  node.{{ ansible_host }}.key: {{ lookup('file', yugabyte_k8s_tls_key_path) | b64encode }}
  node.{{ ansible_host }}.crt: {{ lookup('file', yugabyte_k8s_tls_cert_path) | b64encode }}
{% endif %}
