# ---------------------------------------------------------------------------
# General settings
# These settings configure the gRPC server, TLS, bootstrap, cluster,
# local MSP, crypto provider, and logging for the orderer node.
# ---------------------------------------------------------------------------
General:
  # Listen address: The IP on which to bind to listen.
  ListenAddress: {{ orderer_listen_address | default('0.0.0.0') }}
  # Listen port: The port on which to bind to listen.
  ListenPort: {{ orderer_rpc_port }}
  # TLS: TLS settings for the GRPC server.
  TLS:
    # Require server-side TLS.
    # Even when TLS is disabled, PrivateKey and Certificate point to valid
    # credentials because nodes operate with mTLS internally.
    Enabled: {{ orderer_use_tls | bool | lower }}
    # PrivateKey governs the file location of the private key of the TLS certificate.
    PrivateKey: {{ orderer_config_dir }}/tls/server.key
    # Certificate governs the file location of the server TLS certificate.
    Certificate: {{ orderer_config_dir }}/tls/server.crt
    # RootCAs contains additional root certificates for verifying certificates
    # of other orderer nodes during outbound connections.
    RootCAs:
      - {{ orderer_config_dir }}/tls/ca.crt
    # Require client certificates / mutual TLS for inbound connections.
    ClientAuthRequired: {{ orderer_use_mtls | bool | lower }}
{% if orderer_use_tls and orderer_use_mtls and (orderer_mtls_clients is defined or orderer_mtls_orgs is defined) %}
    # ClientRootCAs contains additional root certificates used for verifying
    # certificates of client connections.
    ClientRootCAs:
{% if orderer_mtls_clients is defined %}
{% for orderer_mtls_client in orderer_mtls_clients %}
      - {{ orderer_config_dir }}/mtls/{{ orderer_mtls_client }}/ca.crt
{% endfor %}
{% endif %}
{% if orderer_mtls_orgs is defined %}
{% for orderer_mtls_org in orderer_mtls_orgs %}
      - {{ orderer_config_dir }}/mtls/{{ orderer_mtls_org.domain }}/ca.crt
{% endfor %}
{% endif %}
{% endif %}
  # Keepalive settings for the GRPC server.
  Keepalive:
    # ClientInterval is the time between pings to orderer nodes.
    ClientInterval: {{ orderer_keepalive_client_interval | default('1m0s') }}
    # ClientTimeout is the duration the client waits for a response before
    # closing the connection.
    ClientTimeout: {{ orderer_keepalive_client_timeout | default('20s') }}
    # ServerMinInterval is the minimum permitted time between client pings.
    # If clients send pings more frequently, the server will disconnect them.
    ServerMinInterval: {{ orderer_keepalive_server_min_interval | default('1m0s') }}
    # ServerInterval is the time between pings to clients.
    ServerInterval: {{ orderer_keepalive_server_interval | default('2h0m0s') }}
    # ServerTimeout is the duration the server waits for a response from a
    # client before closing the connection.
    ServerTimeout: {{ orderer_keepalive_server_timeout | default('20s') }}
  # Config defines the configuration options for backoff GRPC client.
  Backoff:
    # BaseDelay is the amount of time to backoff after the first failure.
    BaseDelay: {{ orderer_backoff_base_delay | default('1s') }}
    # Multiplier is the factor with which to multiply backoffs after a failed
    # retry. Should ideally be greater than 1.
    Multiplier: {{ orderer_backoff_multiplier | default(1.6) }}
    # MaxDelay is the upper bound of backoff delay.
    MaxDelay: {{ orderer_backoff_max_delay | default('2m0s') }}
  # Max message size in bytes the GRPC server and client can receive.
  MaxRecvMsgSize: {{ orderer_max_recv_msg_size | default(104857600) }}
  # Max message size in bytes the GRPC server and client can send.
  MaxSendMsgSize: {{ orderer_max_send_msg_size | default(104857600) }}
  # Bootstrap: how to obtain the bootstrap configuration.
  Bootstrap:
    # Method: The method by which to obtain the bootstrap configuration.
    # The option can be one of:
    #   "block" - path to a file containing the genesis block or config block
    #   "yaml" - path to a file containing a YAML bootstrap configuration.
    Method: {{ orderer_bootstrap_method | default('block') }}
    # File: The file containing the bootstrap configuration.
    # The bootstrap file can be the genesis block, and it can also be a config
    # block for late bootstrap.
    File: {{ orderer_config_dir }}/genesis.block
  # Cluster settings for ordering service nodes that communicate with other ordering service nodes.
  Cluster:
    # SendBufferSize is the maximum number of messages in the egress buffer.
    # Consensus messages are dropped if the buffer is full, and transaction
    # messages are waiting for space to be freed.
    SendBufferSize: {{ orderer_cluster_send_buffer_size | default(100) }}
    # ClientCertificate governs the file location of the client TLS certificate
    # used to establish mutual TLS connections with other ordering service nodes.
    # If not set, the server General.TLS.Certificate is re-used.
    ClientCertificate: {{ orderer_config_dir }}/tls/server.crt
    # ClientPrivateKey governs the file location of the private key of the client TLS certificate.
    # If not set, the server General.TLS.PrivateKey is re-used.
    ClientPrivateKey: {{ orderer_config_dir }}/tls/server.key
{% if orderer_cluster_replication_policy is defined %}
    # ReplicationPolicy defines how blocks are replicated between orderers.
    ReplicationPolicy: {{ orderer_cluster_replication_policy }}
{% endif %}
  # LocalMSPDir is where to find the private crypto material needed by the orderer.
  LocalMSPDir: {{ orderer_config_dir }}/msp
  # LocalMSPID is the identity to register the local MSP material with the MSP manager.
  LocalMSPID: {{ organization.name }}
  # BCCSP configures the blockchain crypto service providers.
  BCCSP:
    # Default specifies the preferred blockchain crypto service provider to use.
    Default: {{ orderer_bccsp_default | default('SW') }}
    # SW configures the software based blockchain crypto provider.
    SW:
      Hash: {{ orderer_bccsp_sw_hash | default('SHA2') }}
      Security: {{ orderer_bccsp_sw_security | default(256) }}
{% if orderer_bccsp_sw_file_key_store is defined %}
      FileKeyStore:
        KeyStore: {{ orderer_bccsp_sw_file_key_store }}
{% endif %}
{% if (orderer_bccsp_default | default('SW')) == 'PKCS11' %}
    # Settings for the PKCS#11 crypto provider.
    PKCS11:
{% if orderer_bccsp_pkcs11_library is defined %}
      Library: {{ orderer_bccsp_pkcs11_library }}
{% endif %}
{% if orderer_bccsp_pkcs11_label is defined %}
      Label: {{ orderer_bccsp_pkcs11_label }}
{% endif %}
{% if orderer_bccsp_pkcs11_pin is defined %}
      Pin: {{ orderer_bccsp_pkcs11_pin }}
{% endif %}
{% if orderer_bccsp_pkcs11_hash is defined %}
      Hash: {{ orderer_bccsp_pkcs11_hash }}
{% endif %}
{% if orderer_bccsp_pkcs11_security is defined %}
      Security: {{ orderer_bccsp_pkcs11_security }}
{% endif %}
{% if orderer_bccsp_pkcs11_file_key_store is defined %}
      FileKeyStore:
        KeyStore: {{ orderer_bccsp_pkcs11_file_key_store }}
{% endif %}
{% endif %}
  # LogSpec controls the logging level of the server.
  LogSpec: {{ orderer_log_spec | default('info') }}
  # ClientSignatureVerificationRequired specifies if router and batcher validate
  # the signature in client requests.
  ClientSignatureVerificationRequired: {{ orderer_client_signature_verification_required | default(false) | bool | lower }}
