# ---------------------------------------------------------------------------
# Monitoring settings
# ---------------------------------------------------------------------------
monitoring:
  MetricsLogInterval: {{ orderer_metrics_log_interval | default('10s') }}
  MonitoringListenAddress: "0.0.0.0"
  MonitoringListenPort: {{ orderer_metrics_port }}