# ---------------------------------------------------------------------------
# PartyID is the party id to which the node belongs
# ---------------------------------------------------------------------------
PartyID: {{ orderer_group }}
