#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Ensure that the cryptogen output folder is clean
  ansible.builtin.file:
    state: absent
    path: "{{ cryptogen_output_dir }}"

- name: Start the cryptogen binary
  vars:
    bin_run_with_tmux: false
    bin_remote_dir: "{{ cli_bin_dir }}"
    bin_command: >-
      {{ cryptogen_bin_name }} generate
      --config={{ cryptogen_artifacts_dir }}/{{ cryptogen_config_file }}
      --output={{ cryptogen_output_dir }}
    bin_collect_logs: false
  ansible.builtin.include_role:
    name: hyperledger.fabricx.bin
    tasks_from: start

- name: Combine all TLS CA certificates in one file
  ansible.builtin.include_role:
    name: hyperledger.fabric.cryptogen
    tasks_from: config/combine_tlscas
