#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

{% if cryptogen_orgs_by_domain.items() | length > 0 %}
# ---------------------------------------------------------------------------
# "GenericOrgs" - Definition of organizations managing any organizational unit.
# Each node's organizational unit (OU) is set explicitly, allowing a single
# organization to own both orderer and peer nodes.
# ---------------------------------------------------------------------------
GenericOrgs:
{% for org_domain, org_info in cryptogen_orgs_by_domain.items() %}
  # ---------------------------------------------------------------------------
  # {{ org_info.name }}
  # ---------------------------------------------------------------------------
  - Name: {{ org_info.name }}
    Domain: {{ org_info.domain }}
    EnableNodeOUs: true
{% if org_info.nodes is defined and org_info.nodes | length > 0 %}
    # ---------------------------------------------------------------------------
    # "Specs"
    # ---------------------------------------------------------------------------
    # Specs is an array of Spec entries.  Each Spec entry consists of three fields:
    #   - Hostname:           (Required) The desired hostname, sans the domain.
    #   - OrganizationalUnit: (Required) Selects the node's OU ("orderer" or "peer"),
    #                         which also selects its output subtree.
    #   - CommonName:         (Optional) Specifies the template or explicit override
    #                         for the CN.  By default, this is the template:
    #
    #                              "Hostname.Domain"
    #
    #                         which obtains its values from the Spec.Hostname and
    #                         Org.Domain, respectively.
    Specs:
{% for node in org_info.nodes %}
      - Hostname: {{ hostvars[node.name].organization[node.ou].name | default(node.name) }}
        OrganizationalUnit: {{ node.ou }}
        SANS:
{% for node_ip in (hostvars[node.name].ansible_facts.all_ipv4_addresses | sort) %}
          - {{ node_ip }}
{% endfor %}
          - {{ hostvars[node.name].ansible_host }}
          - {{ hostvars[node.name].actual_host }}
{% if hostvars[node.name].organization[node.ou].additional_sans is defined %}
{% for additional_san in hostvars[node.name].organization[node.ou].additional_sans %}
          - {{ additional_san }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

    # ---------------------------------------------------------------------------
    # "Users"
    # ---------------------------------------------------------------------------
    Users:
      # Count: The number of user accounts _in addition_ to Admin
      Count: 1
{% if org_info.users is defined and org_info.users | length > 0 %}
      # ---------------------------------------------------------------------------
      # "Specs"
      # ---------------------------------------------------------------------------
      # Specs is an array of Spec entries.  Each Spec entry consists of one field:
      #   - Name:   (Required) The desired name for the user.
      #
      # ---------------------------------------------------------------------------
      Specs:
{% for user in (org_info.users | unique) %}
        - Name: {{ user.name }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
