#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

{% if cryptogen_orderers_by_org.items() | length > 0 %}
# ---------------------------------------------------------------------------
# "OrdererOrgs" - Definition of organizations managing orderer nodes
# ---------------------------------------------------------------------------
OrdererOrgs:
{% for orderer_org_domain, orderer_org_info in cryptogen_orderers_by_org.items() %}
  # ---------------------------------------------------------------------------
  # {{ orderer_org_info.name }}
  # ---------------------------------------------------------------------------
  - Name: {{ orderer_org_info.name }}
    Domain: {{ orderer_org_info.domain }}
    EnableNodeOUs: false
{% if orderer_org_info.orderers | length > 0 %}    
    # ---------------------------------------------------------------------------
    # "Specs"
    # ---------------------------------------------------------------------------      
    # Specs is an array of Spec entries.  Each Spec entry consists of two fields:
    #   - Hostname:   (Required) The desired hostname, sans the domain.
    #   - CommonName: (Optional) Specifies the template or explicit override for
    #                 the CN.  By default, this is the template:
    #
    #                              "Hostname.Domain"
    #
    #                 which obtains its values from the Spec.Hostname and
    #                 Org.Domain, respectively.      
    Specs:
{% for orderer in orderer_org_info.orderers %}
      - Hostname: {{ orderer }}
        SANS:
          - {{ hostvars[orderer].ansible_host }}
          - 0.0.0.0
          - localhost
          - 127.0.0.1
          - ::1
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

{% if cryptogen_peers_by_org.items() | length > 0 %}
# ---------------------------------------------------------------------------
# "PeerOrgs" - Definition of organizations managing peer nodes
# ---------------------------------------------------------------------------
PeerOrgs:
{% for peer_org_domain, peer_org_info in cryptogen_peers_by_org.items() %}
  # ---------------------------------------------------------------------------
  # {{ peer_org_info.name }}
  # ---------------------------------------------------------------------------
  - Name: {{ peer_org_info.name }}
    Domain: {{ peer_org_info.domain }}
    EnableNodeOUs: false
{% if peer_org_info.peers | length > 0 %}
    # ---------------------------------------------------------------------------
    # "Specs"
    # ---------------------------------------------------------------------------
    # Uncomment this section to enable the explicit definition of hosts in your
    # configuration.  Most users will want to use Template, below
    #
    # Specs is an array of Spec entries.  Each Spec entry consists of two fields:
    #   - Hostname:   (Required) The desired hostname, sans the domain.
    #   - CommonName: (Optional) Specifies the template or explicit override for
    #                 the CN.  By default, this is the template:
    #
    #                              ".Hostname.Domain"
    #
    #                 which obtains its values from the Spec.Hostname and
    #                 Org.Domain, respectively.
    #   - SANS:       (Optional) Specifies one or more Subject Alternative Names
    #                 to be set in the resulting x509. Accepts template
    #                 variables .Hostname, .Domain, .CommonName. IP
    #                 addresses provided here will be properly recognized. Other
    #                 values will be taken as DNS names.
    #                 NOTE: Two implicit entries are created for you:
    #                     - .CommonName
    #                     - .Hostname
    # ---------------------------------------------------------------------------
    Specs:
{% for peer in (peer_org_info.peers | unique) %}
      - Hostname: {{ peer }}
        SANS:
          - {{ hostvars[peer].ansible_host }}
          - 0.0.0.0
          - localhost
          - 127.0.0.1
          - ::1
{% endfor %}
{% endif %}

    # ---------------------------------------------------------------------------
    # "Users"
    # ---------------------------------------------------------------------------
    Users:
      # Count: The number of user accounts _in addition_ to Admin
      Count: 1
{% if peer_org_info.users | length > 0 %}
      # ---------------------------------------------------------------------------
      # "Specs"
      # ---------------------------------------------------------------------------
      # Specs is an array of Spec entries.  Each Spec entry consists of two fields:
      #   - Name:   (Required) The desired name for the user.
      #
      # ---------------------------------------------------------------------------
      Specs:
{% for user in (peer_org_info.users | unique) %}
        - Name: {{ user }}
          HSM: false
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}