#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# We need to remove the `rslave` flag from the macOS container
# to prevent issues with Docker Desktop and VirtioFS.
# Indeed, it doesn't support `rslave` flag on macOS, causing
# the error: "path / is mounted on / but it is not a shared or slave mount".
- name: Set Node Exporter container volume flags for macOS
  ansible.builtin.set_fact:
    node_exporter_root_fs_flags: "ro"
  when:
    - ansible_facts.system == 'Darwin'

- name: Start Node Exporter container
  vars:
    container_name: "{{ node_exporter_container_name }}"
    container_image: "{{ node_exporter_image }}"
    container_command: >-
      --web.listen-address=:{{ node_exporter_port }}
      --path.rootfs=/host
      {% if node_exporter_use_tls %}
      --web.config.file={{ node_exporter_container_config_dir }}/{{ node_exporter_web_config_file }}
      {% endif %}
    container_ports:
      - "{{ node_exporter_port }}:{{ node_exporter_port }}"
    container_volumes:
      - "/:/host:{{ node_exporter_root_fs_flags }}" # needed by NodeExporter to read machine general details (e.g. CPU type, RAM)
      - "{{ node_exporter_remote_config_dir }}:{{ node_exporter_container_config_dir }}:Z"
    # There is a problem using `wget` for healthcheck when running with TLS:
    # https://github.com/docker-library/busybox/issues/162
    # Since `prom/node-exporter` uses `busybox` as base image, wget is not working as expected.
    # Thus, we fallback to `nc` when running with TLS until the issue gets fixed:
    # https://github.com/prometheus/node_exporter/issues/3496
    container_healthcheck_test: >-
      {% if node_exporter_use_tls %}
      nc -z -w 3 localhost {{ node_exporter_port }}
      {% else %}
      wget -q --spider http://localhost:{{ node_exporter_port }}/metrics
      {% endif %}
    container_wait_until_running: true
    container_run_as_host_user: true
    container_wait_port: "{{ node_exporter_port }}"
  ansible.builtin.include_role:
    name: hyperledger.fabricx.container
    tasks_from: start
