#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Start Fabric CA server container
  vars:
    container_name: "{{ fabric_ca_container_name }}"
    container_image: "{{ fabric_ca_image }}"
    container_env:
      FABRIC_CA_HOME: "{{ fabric_ca_container_config_dir }}"
    container_command: fabric-ca-server start
    container_ports:
      - "{{ fabric_ca_port }}:{{ fabric_ca_port }}"
      - "{{ fabric_ca_operations_port }}:{{ fabric_ca_operations_port }}"
    container_volumes:
      - "{{ fabric_ca_remote_config_dir }}:{{ fabric_ca_container_config_dir }}"
    container_healthcheck_test: >-
      bash -c '
        exec 3<>/dev/tcp/localhost/{{ fabric_ca_operations_port }} &&
        echo -e "GET /healthz HTTP/1.1\r\nHost: localhost\r\nConnection: close\r\n\r\n" >&3 &&
        grep "HTTP/1.1 200 OK" <&3
      '
    container_run_as_host_user: true
    container_wait_until_running: true
    container_wait_port: "{{ fabric_ca_port }}"
  ansible.builtin.include_role:
    name: hyperledger.fabricx.container
    tasks_from: start
