#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# For Docker, we could be in trouble removing the volume
# if we don't have the right permissions (e.g. when the user is not root).
# To solve it, we use `docker-unshare`, which works as an implementation
# of `podman-unshare`, but using alpine as base image.
- name: Set Docker volume permissions on Linux to host user
  vars:
    rootless_docker: "{{ (ansible_env.DOCKER_HOST is defined) and ('/run/user/' in ansible_env.DOCKER_HOST) }}"
    docker_host_user: >-
      {{
        '0:0'
        if rootless_docker
        else container_host_user
      }}
  community.docker.docker_container:
    name: "docker-unshare-unset-{{ 999999 | random }}"
    image: docker.io/library/alpine:3.18
    command: >-
      sh -c
      "chown -R {{ docker_host_user }} /volume"
    volumes:
      - "{{ container_volume_path }}:/volume"
    auto_remove: true
    state: started
  when:
    - not container_on_mac
    - not container_host_user_is_root

- name: Remove Docker volume
  ansible.builtin.file:
    path: "{{ container_volume_path }}"
    state: absent
