#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Ensure Fabric CA config directory exists
  ansible.builtin.file:
    path: "{{ fabric_ca_remote_config_dir }}"
    state: directory
    mode: "0750"

- name: Render Fabric CA server configuration
  vars:
    fabric_ca_config_dir: "{{ fabric_ca_remote_config_dir if fabric_ca_server_use_bin else fabric_ca_container_config_dir }}"
  ansible.builtin.template:
    src: fabric-ca-server-config.yaml.j2
    dest: "{{ fabric_ca_remote_config_dir }}/fabric-ca-server-config.yaml"
    mode: "0644"

- name: Ensure directory for Postgres DB TLS certificate exists
  ansible.builtin.file:
    path: "{{ fabric_ca_remote_config_dir }}/db/tls"
    state: directory
    mode: "0750"
  when:
    - postgres_db_host is defined
    - hostvars[postgres_db_host].postgres_use_tls is defined
    - hostvars[postgres_db_host].postgres_use_tls

- name: Copy Postgres DB TLS CA certificate
  ansible.builtin.copy:
    src: "{{ fetched_artifacts_dir }}/{{ postgres_db_host }}/tls/ca.crt"
    dest: "{{ fabric_ca_remote_config_dir }}/db/tls/cert.pem"
    mode: "0644"
  when:
    - postgres_db_host is defined
    - hostvars[postgres_db_host].postgres_use_tls is defined
    - hostvars[postgres_db_host].postgres_use_tls
