#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# =========================
# Config
# =========================
- name: Ensure orderer config directory exists
  ansible.builtin.file:
    path: "{{ orderer_remote_config_dir }}"
    state: directory
    mode: "0o750"

- name: Create Fabric-X Orderer Assembler config
  vars:
    orderer_config_dir: "{{ orderer_remote_config_dir if orderer_use_bin else orderer_container_config_dir }}"
  ansible.builtin.template:
    src: config-assembler.yaml.j2
    dest: "{{ orderer_remote_config_file }}"
    mode: "0o644"

# =========================
# Genesis Block
# =========================
- name: Copy Genesis block to use for the genesis setup phase
  ansible.builtin.copy:
    src: "{{ configtxgen_artifacts_dir }}/{{ orderer_genesis_block_file }}"
    dest: "{{ orderer_remote_config_dir }}/genesis.block"
    mode: "0o644"

# =========================
# mTLS
# =========================
- name: Ensure folder for TLS Certificates of mTLS clients exist
  ansible.builtin.file:
    path: "{{ orderer_remote_config_dir }}/mtls/{{ current_orderer_mtls_client }}"
    state: directory
    mode: "0o755"
  loop: "{{ orderer_mtls_clients }}"
  loop_control:
    loop_var: current_orderer_mtls_client
    label: "{{ current_orderer_mtls_client }}"
  when:
    - orderer_use_mtls
    - orderer_mtls_clients is defined
    - orderer_mtls_clients | length > 0

- name: Copy TLS Certificates of mTLS clients
  ansible.builtin.copy:
    src: "{{ fetched_artifacts_dir }}/{{ current_orderer_mtls_client }}/tls/server.crt"
    dest: "{{ orderer_remote_config_dir }}/mtls/{{ current_orderer_mtls_client }}/ca.crt"
    mode: "0o644"
  loop: "{{ orderer_mtls_clients }}"
  loop_control:
    loop_var: current_orderer_mtls_client
    label: "{{ current_orderer_mtls_client }}"
  when:
    - orderer_use_mtls
    - orderer_mtls_clients is defined
    - orderer_mtls_clients | length > 0
