#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ loki_k8s_resource_name }}-secret
  labels:
    app.kubernetes.io/name: {{ loki_k8s_resource_name }}
    app.kubernetes.io/component: loki
    app.kubernetes.io/part-of: {{ loki_k8s_part_of }}
type: Opaque
data:
{% if loki_use_tls %}
  {{ loki_tls_private_key_file }}: {{ lookup('file', loki_k8s_tls_server_key_path) | b64encode }}
  {{ loki_tls_cert_file }}: {{ lookup('file', loki_k8s_tls_server_cert_path) | b64encode }}
{% endif %}
