#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Check if committer_verifiers required variable is set
  ansible.builtin.fail:
    msg: "The variable 'committer_verifiers' must be defined to use this role. It must contain the list of hosts devoted for the Fabric-X Committer verifiers."
  when:
    - committer_verifiers is not defined

- name: Check if committer_validators required variable is set
  ansible.builtin.fail:
    msg: "The variable 'committer_validators' must be defined to use this role. It must contain the list of hosts devoted for the Fabric-X Committer validators."
  when:
    - committer_validators is not defined

- name: Ensure Hyperledger Fabric-X Committer coordinator config directory exists
  ansible.builtin.file:
    path: "{{ committer_remote_config_dir }}"
    state: directory
    mode: "0o755"

- name: Generate {{ committer_coordinator_config_file }}
  vars:
    committer_config_dir: >-
      {{
        committer_remote_config_dir
        if committer_use_bin
        else committer_container_config_dir
      }}
    committer_validator_ref_host: "{{ committer_validators | first }}"
    committer_verifier_ref_host: "{{ committer_verifiers | first }}"
  ansible.builtin.template:
    src: "config-coordinator.yaml.j2"
    dest: "{{ committer_remote_config_dir }}/{{ committer_coordinator_config_file }}"
    mode: "0o644"

# =========================
# Verifier TLS certs
# =========================
- name: Ensure directory for verifier TLS CA certificates exists
  vars:
    committer_verifier_ref_host: "{{ committer_verifiers | first }}"
  ansible.builtin.file:
    path: "{{ committer_remote_config_dir }}/tls/verifiers"
    state: directory
    mode: "0o755"
  when:
    - hostvars[committer_verifier_ref_host].committer_use_tls is defined
    - hostvars[committer_verifier_ref_host].committer_use_tls

- name: Transfer the verifiers CA certificate
  vars:
    committer_verifier_ref_host: "{{ committer_verifiers | first }}"
  ansible.builtin.copy:
    src: "{{ fetched_artifacts_dir }}/{{ committer_verifier_ref_host }}/tls/ca.crt"
    dest: "{{ committer_remote_config_dir }}/tls/verifiers/ca.crt"
    mode: "0o644"
  when:
    - hostvars[committer_verifier_ref_host].committer_use_tls is defined
    - hostvars[committer_verifier_ref_host].committer_use_tls

# =========================
# Validator TLS certs
# =========================
- name: Ensure directory for validator TLS CA certificates exists
  vars:
    committer_validator_ref_host: "{{ committer_validators | first }}"
  ansible.builtin.file:
    path: "{{ committer_remote_config_dir }}/tls/validators"
    state: directory
    mode: "0o755"
  when:
    - hostvars[committer_validator_ref_host].committer_use_tls is defined
    - hostvars[committer_validator_ref_host].committer_use_tls

- name: Transfer the validators CA certificate
  vars:
    committer_validator_ref_host: "{{ committer_validators | first }}"
  ansible.builtin.copy:
    src: "{{ fetched_artifacts_dir }}/{{ committer_validator_ref_host }}/tls/ca.crt"
    dest: "{{ committer_remote_config_dir }}/tls/validators/ca.crt"
    mode: "0o644"
  when:
    - hostvars[committer_validator_ref_host].committer_use_tls is defined
    - hostvars[committer_validator_ref_host].committer_use_tls
