#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Check if required variable is set
  ansible.builtin.fail:
    msg: "The variable 'committer_db_servers' must be defined to use this role. It must contain the list of hosts devoted for the Fabric-X Committer DB layer."
  when: committer_db_servers is not defined

- name: Ensure Fabric-X Committer QueryService config directory exists
  ansible.builtin.file:
    path: "{{ committer_remote_config_dir }}"
    state: directory
    mode: "0o750"

# Postgres is not distributed. We assume there's only one DB in committer_db_servers
- name: Ensure directory for Postgres DB TLS certificate exists
  vars:
    postgres_db_host: "{{ committer_db_servers | first }}"
    use_postgres: "{{ (hostvars[postgres_db_host].postgres_port is defined) | default(false) }}"
  ansible.builtin.file:
    path: "{{ committer_remote_config_dir }}/db/tls"
    state: directory
    mode: "0750"
  when:
    - use_postgres
    - hostvars[postgres_db_host].postgres_use_tls is defined
    - hostvars[postgres_db_host].postgres_use_tls

# Postgres is not distributed. We assume there's only one DB in committer_db_servers
- name: Copy Postgres DB TLS certificate
  vars:
    postgres_db_host: "{{ committer_db_servers | first }}"
    use_postgres: "{{ (hostvars[postgres_db_host].postgres_port is defined) | default(false) }}"
  ansible.builtin.copy:
    src: "{{ config_build_dir }}/{{ postgres_db_host }}/tls/cert.pem"
    dest: "{{ committer_remote_config_dir }}/db/tls/cert.pem"
    mode: "0644"
  when:
    - use_postgres
    - hostvars[postgres_db_host].postgres_use_tls is defined
    - hostvars[postgres_db_host].postgres_use_tls

- name: Generate {{ committer_query_service_config_file }}
  vars:
    reference_db: "{{ committer_db_servers | first }}"
    use_postgres: "{{ (hostvars[reference_db].postgres_port is defined) | default(false) }}"
    db_username: >-
      {{
        hostvars[reference_db].postgres_user
        if use_postgres
        else hostvars[reference_db].yugabyte_user
      }}
    db_password: >-
      {{
        hostvars[reference_db].postgres_password
        if use_postgres
        else hostvars[reference_db].yugabyte_password
      }}
    db_database: >-
      {{
        hostvars[reference_db].postgres_db
        if use_postgres
        else hostvars[reference_db].yugabyte_db
      }}
  ansible.builtin.template:
    src: "config-query-service.yaml.j2"
    dest: "{{ committer_remote_config_dir }}/{{ committer_query_service_config_file }}"
    mode: "0o644"
