#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# =========================
# Config
# =========================
- name: Check that either Postgres or Yugabyte is defined as persistence layer
  ansible.builtin.fail:
    msg: >-
      The validator requires a persistence layer to work properly.
      Set it either with 'postgres_db_host' (to use a Postgres DB) or with 'yugabyte_cluster_ref_id' (to use a Yugabyte cluster).
  when:
    - (postgres_db_host is not defined) and (yugabyte_cluster_ref_id is not defined)

- name: Ensure Hyperledger Fabric-X Committer QueryService config directory exists
  ansible.builtin.file:
    path: "{{ committer_remote_config_dir }}"
    state: directory
    mode: "0o755"

- name: Generate {{ committer_query_service_config_file }}
  vars:
    committer_config_dir: >-
      {{
        committer_remote_config_dir
        if committer_use_bin
        else committer_container_config_dir
      }}
  ansible.builtin.template:
    src: "config-query-service.yaml.j2"
    dest: "{{ committer_remote_config_dir }}/{{ committer_query_service_config_file }}"
    mode: "0o644"

# =========================
# DB
# =========================
- name: Transfer DB files
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: config/db/transfer

# =========================
# mTLS
# =========================
- name: Transfer mTLS certificates
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: config/mtls/transfer
  when:
    - committer_use_mtls
