#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Transfer the fxconfig configuration files
  hosts: "{{ target_hosts | default('all') }}"
  tasks:
    - name: Set the namespaces that must be created
      vars:
        fxconfig_namespace_nodes: "{{ groups['all'] }}"
      ansible.builtin.include_role:
        name: hyperledger.fabricx.fxconfig
        tasks_from: config/find_namespaces
      when:
        - organization is defined
        - organization.users is defined
        - organization.users
          | selectattr('meta_namespace_admin', 'defined')
          | selectattr('meta_namespace_admin', '==', true)
          | length > 0
    - name: Transfer the configuration files for fxconfig
      vars:
        orderer_router_host: >-
          {{
            groups['all']
            | map('extract', hostvars)
            | selectattr('orderer_component_type', 'defined')
            | selectattr('orderer_component_type', '==', 'router')
            | map(attribute='inventory_hostname')
            | sort
            | first
          }}
        committer_query_service_host: >-
          {{
            groups['all']
            | map('extract', hostvars)
            | selectattr('committer_component_type', 'defined')
            | selectattr('committer_component_type', '==', 'query-service')
            | map(attribute='inventory_hostname')
            | sort
            | first
          }}
      ansible.builtin.include_role:
        name: hyperledger.fabricx.fxconfig
        tasks_from: config/transfer
      when:
        - organization is defined
        - organization.users is defined
        - organization.users
          | selectattr('meta_namespace_admin', 'defined')
          | selectattr('meta_namespace_admin', '==', true)
          | length > 0
