#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ evm_k8s_resource_name }}
  labels:
    app.kubernetes.io/name: {{ evm_k8s_resource_name }}
    app.kubernetes.io/component: evm
    app.kubernetes.io/part-of: {{ evm_k8s_part_of }}
type: Opaque
data:
  # Peer MSP private signing key backing the embedded endorser identity.
  msp-keystore-priv-sk: {{ lookup('file', evm_k8s_msp_keystore_path, rstrip=False) | b64encode }}
  # Peer MSP signing certificate backing the embedded endorser identity.
  msp-signcert.pem: {{ lookup('file', evm_k8s_msp_signcert_path, rstrip=False) | b64encode }}
  # Peer MSP CA certificate backing the embedded endorser identity.
  msp-cacert.pem: {{ lookup('file', evm_k8s_msp_cacert_path, rstrip=False) | b64encode }}
  # Peer MSP NodeOUs config for identity classification.
  msp-config.yaml: {{ lookup('file', evm_k8s_msp_config_path, rstrip=False) | b64encode }}
{% for current_user in organization.users %}
  # MSP private signing key for user {{ current_user.name }}, the gateway's transaction-signing identity.
  user-{{ current_user.name }}-msp-keystore-priv-sk: {{ lookup('file', evm_remote_config_dir + '/users/' + current_user.name + '@' + organization.domain + '/msp/keystore/priv_sk', rstrip=False) | b64encode }}
  # MSP signing certificate for user {{ current_user.name }}.
  user-{{ current_user.name }}-msp-signcert.pem: {{ lookup('file', evm_remote_config_dir + '/users/' + current_user.name + '@' + organization.domain + '/msp/signcerts/' + current_user.name + '@' + organization.domain + '-cert.pem', rstrip=False) | b64encode }}
  # MSP CA certificate for user {{ current_user.name }}.
  user-{{ current_user.name }}-msp-cacert.pem: {{ lookup('file', evm_remote_config_dir + '/users/' + current_user.name + '@' + organization.domain + '/msp/cacerts/ca.' + organization.domain + '-cert.pem', rstrip=False) | b64encode }}
{% endfor %}
{% if evm_use_tls %}
  # TLS private key used for client connections to orderers and the committer sidecar.
  tls-server.key: {{ lookup('file', evm_k8s_tls_server_key_path, rstrip=False) | b64encode }}
  # TLS client certificate presented to orderers and the committer sidecar.
  tls-server.crt: {{ lookup('file', evm_k8s_tls_server_crt_path, rstrip=False) | b64encode }}
  # TLS CA certificate for the EVM client identity, published so other components can be configured to trust it.
  tls-ca.crt: {{ lookup('file', evm_k8s_tls_ca_crt_path, rstrip=False) | b64encode }}
{% endif %}
