#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
---
apiVersion: v1
kind: Service
metadata:
  name: {{ evm_k8s_resource_name }}-nodeport
  labels:
    app.kubernetes.io/name: {{ evm_k8s_resource_name }}
    app.kubernetes.io/component: evm
    app.kubernetes.io/part-of: {{ evm_k8s_part_of }}
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: {{ evm_k8s_resource_name }}
  ports:
    - name: rest
      port: {{ evm_port }}
      targetPort: rest
      nodePort: {{ evm_k8s_node_port }}
