load-profile:
  block:
    size: 500
  key:
    size: 32
  transaction:
    read-write-value-size: 32
    blind-write-value-size:
    read-only-count:
    read-write-count:
      const: 2
    policy:
      config-block-path:
      namespace-policies:
{% if organization is defined %}
{% if organization.users is defined %}
{% for user in organization.users %}
{% if user.namespace is defined %}
        {{ user.namespace }}:
          scheme: {{ loadgen_key_scheme }}
          seed: {{ user.seed | default(12345) }}
          key-path:
            signing-key: {{ loadgen_config_dir }}/users/{{ user.name }}@{{ organization.domain }}/msp/keystore/priv_sk
            sign-certificate: {{ loadgen_config_dir }}/users/{{ user.name }}@{{ organization.domain }}/msp/signcerts/{{ user.name }}@{{ organization.domain }}-cert.pem
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
  query:
    query-size:
    min-invalid-keys-portion:
    shuffle: false
  conflicts:
    invalid-signatures: 0
    dependencies:
      # - probability: 0
      #   gap:
      #     const: 500
      #   src: "read-write"
      #   dst: "read-write"
  seed: {{ loadgen_tx_seed }}
  workers: 32
