#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Ensure verifier-client config directory exists
  ansible.builtin.file:
    path: "{{ loadgen_remote_config_dir }}"
    state: directory
    mode: "0o755"

- name: Generate the config for the Fabric-X Loadgen for the Fabric-X Committer Verifiers
  vars:
    loadgen_config_dir: "{{ loadgen_remote_config_dir if loadgen_use_bin else loadgen_container_config_dir }}"
  ansible.builtin.template:
    src: "verifier-client.yaml.j2"
    dest: "{{ loadgen_remote_config_dir }}/{{ loadgen_config_file }}"
    mode: "0o644"

# =========================
# HLFX Committer Verifier TLS
# =========================
- name: Ensure Hyperledger Fabric-X Committer Verifiers TLS folder exist
  vars:
    committer_verifier_ref_host: "{{ committer_verifier_hosts | first }}"
  ansible.builtin.file:
    path: "{{ loadgen_remote_config_dir }}/tls/verifiers"
    state: directory
    mode: "0o755"
  when:
    - hostvars[committer_verifier_ref_host].committer_use_tls is defined
    - hostvars[committer_verifier_ref_host].committer_use_tls

- name: Transfer Hyperledger Fabric-X Committer Verifiers TLS CA certificate
  vars:
    committer_verifier_ref_host: "{{ committer_verifier_hosts | first }}"
  ansible.builtin.copy:
    src: "{{ fetched_artifacts_dir }}/{{ committer_verifier_ref_host }}/tls/ca.crt"
    dest: "{{ loadgen_remote_config_dir }}/tls/verifiers/ca.crt"
    mode: "0o644"
  when:
    - hostvars[committer_verifier_ref_host].committer_use_tls is defined
    - hostvars[committer_verifier_ref_host].committer_use_tls
