#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Fetch CSR on control node
  ansible.builtin.fetch:
    src: "{{ yugabyte_remote_tls_dir }}/tls.csr"
    dest: "{{ fetched_tls_dir }}/{{ inventory_hostname }}/tls.csr"
    flat: true
  when:
    - yugabyte_use_tls
