#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ jaeger_k8s_resource_name }}
  namespace: {{ k8s_namespace }}
  labels:
    app.kubernetes.io/name: {{ jaeger_k8s_resource_name }}
    app.kubernetes.io/component: jaeger
    app.kubernetes.io/part-of: {{ jaeger_k8s_part_of }}
data:
{% if hostvars[elasticsearch_host].elasticsearch_use_tls is defined and hostvars[elasticsearch_host].elasticsearch_use_tls %}
  es-ca.crt: |
{{ lookup('file', jaeger_es_ca_cert_path) | indent(4, true) }}
{% endif %}
