#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

PartyID: {{ orderer_group }}
Consensus:
    WALDir: {{ orderer_config_dir }}/wal
{% include './sections/general.yaml.j2' +%}
{% include './sections/filestore.yaml.j2' %}
