#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

{% include './sections/party-id.yaml.j2' +%}

{% include './sections/general.yaml.j2' +%}

{% include './sections/filestore.yaml.j2' +%}

{% include './sections/operations.yaml.j2' +%}

{% include './sections/metrics.yaml.j2' +%}

# ---------------------------------------------------------------------------
# Hyperledger Fabric-X Assembler settings
# ---------------------------------------------------------------------------
Assembler:
  # The size of the buffer that is used to store prefetched batches from the Batchers.
  PrefetchBufferMemoryBytes: {{ orderer_assembler_prefetch_buffer_memory_bytes | default(1073741824) }}
  RestartLedgerScanTimeout: {{ orderer_assembler_restart_ledger_scan_timeout | default('5s') }}
  PrefetchEvictionTtl: {{ orderer_assembler_prefetch_eviction_ttl | default('1h') }}
  PopWaitMonitorTimeout: {{ orderer_assembler_pop_wait_monitor_timeout | default('1s') }}
  ReplicationChannelSize: {{ orderer_assembler_replication_channel_size | default(100) }}
  BatchRequestsChannelSize: {{ orderer_assembler_batch_requests_channel_size | default(1000) }}
