#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

{% include './sections/party-id.yaml.j2' +%}

{% include './sections/general.yaml.j2' +%}

{% include './sections/filestore.yaml.j2' +%}

# ---------------------------------------------------------------------------
# Hyperledger Fabric-X Batcher settings
# ---------------------------------------------------------------------------
Batcher:
  # Specifies the shard id to which the Batcher is associated.
  ShardID: {{ orderer_shard_id }}
  # The maximal distance the primary allows between his own current batch sequence and the secondaries sequence.
	# The secondaries send acknowledgments over each batch to the primary, the primary collects these acknowledgments
	# and waits until at least a threshold of secondaries is not too far behind (batch sequence distance is less than a gap)
	# before the primary continues on to the next batch.
  BatchSequenceGap: 10
  # The maximal number of requests permitted in the requests pool.
  MemPoolMaxSize: 1000000
  # The time a client can wait for the submission of a single request into the request pool.
  SubmitTimeout: 500ms
