#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

PartyID: {{ orderer_group }}
Router:
    NumberOfConnectionsPerBatcher: 10
    NumberOfStreamsPerConnection: 5
{% include './sections/general.yaml.j2' %}
