#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# ===========================================================
# OpenSSL configuration template for CSR
# (Certificate Signing Request)
# ===========================================================

{% include './sections/dn.yaml.j2' +%}
{% include './sections/req.yaml.j2' +%}
{% include './sections/v3_req.yaml.j2' +%}
