#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# ===========================================================
# OpenSSL configuration template for Extensions
# ===========================================================

{% include './sections/v3_req.yaml.j2' +%}
