#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Remove Grafana config directory
  ansible.builtin.file:
    path: "{{ grafana_remote_config_dir }}/grafana"
    state: absent
