#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Ensure Grafana datasources directory exists
  ansible.builtin.file:
    path: "{{ grafana_remote_config_dir }}/datasources"
    state: directory
    mode: "0o755"

- name: Transfer {{ grafana_datasource_file }}
  ansible.builtin.template:
    src: datasources.yaml.j2
    dest: "{{ grafana_remote_config_dir }}/datasources/{{ grafana_datasource_file }}"
    mode: "0o644"

- name: Ensure Grafana dashboards directory exists
  ansible.builtin.file:
    path: "{{ grafana_remote_config_dir }}/dashboards"
    state: directory
    mode: "0o755"

- name: Transfer {{ grafana_dashboards_file }}
  ansible.builtin.template:
    src: dashboards.yaml.j2
    dest: "{{ grafana_remote_config_dir }}/dashboards/{{ grafana_dashboards_file }}"
    mode: "0o644"

- name: Ensure Grafana TLS directory for Prometheus TLS CA exists
  ansible.builtin.file:
    path: "{{ grafana_remote_config_dir }}/tls/{{ prometheus_host }}"
    state: directory
    mode: "0o755"
  when:
    - hostvars[prometheus_host].prometheus_use_tls is defined
    - hostvars[prometheus_host].prometheus_use_tls

- name: Transfer Prometheus TLS CA certificate
  ansible.builtin.copy:
    src: "{{ fetched_artifacts_dir }}/{{ prometheus_host }}/tls/tls_cert.pem"
    dest: "{{ grafana_remote_config_dir }}/tls/{{ prometheus_host }}/ca.crt"
    mode: "0o644"
  when:
    - hostvars[prometheus_host].prometheus_use_tls is defined
    - hostvars[prometheus_host].prometheus_use_tls
