#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Check that the MSP directory has been defined
  ansible.builtin.fail:
    msg: "No MSP directory is indicated. Set it via 'fabric_ca_msp_dir'."
  when: fabric_ca_msp_dir is not defined

- name: Check that the Fabric CA identity to enroll has been defined
  ansible.builtin.fail:
    msg: "No Fabric CA identity is indicated. Set it via 'fabric_ca_identity'."
  when: fabric_ca_identity is not defined

- name: Check if already enrolled
  ansible.builtin.stat:
    path: "{{ fabric_ca_msp_dir }}/signcerts/cert.pem"
  register: fabric_ca_msp_cert
  when:
    - fabric_ca_enrollment_type == 'bccsp'

- name: Check if already enrolled (Idemix only)
  ansible.builtin.stat:
    path: "{{ fabric_ca_msp_dir }}/msp/user/SignerConfig"
  register: fabric_ca_idemix_signer
  when:
    - fabric_ca_enrollment_type == 'idemix'

# TODO: When owner-wallet Idemix credentials move to the Onboarding Repository, scope this to Fabric identities only.
- name: Enroll identity with Fabric CA client binary
  vars:
    bin_env:
      FABRIC_CA_CLIENT_HOME: "{{ fabric_ca_msp_dir }}"
    bin_command: >-
      {{ fabric_ca_client_bin_name }}
      enroll
      -u {{ fabric_ca_scheme }}://{{ fabric_ca_identity.name }}:{{ fabric_ca_identity.secret }}@{{ hostvars[fabric_ca_host].ansible_host }}:{{ hostvars[fabric_ca_host].fabric_ca_port }}
      --caname {{ fabric_ca_name }}
      --mspdir {{ fabric_ca_msp_dir }}
      {% if fabric_ca_enrollment_type == 'idemix' %}
      --enrollment.type idemix
      --enrollment.profile {{ fabric_ca_idemix_enrollment_profile }}
      {% elif fabric_ca_enrollment_type == 'bccsp' and fabric_ca_enrollment_profile is defined %}
      --enrollment.profile {{ fabric_ca_enrollment_profile }}
      {% endif %}
      {% if fabric_ca_enrollment_type == 'bccsp' and fabric_ca_csr_hosts is defined and (fabric_ca_csr_hosts | length) > 0 %}
      {% for csr_host in fabric_ca_csr_hosts %}
      --csr.hosts {{ csr_host }}
      {% endfor %}
      {% endif %}
      {% if fabric_ca_use_tls and (fabric_ca_tls_certfile is defined) %}
      --tls.certfiles {{ fabric_ca_tls_certfile }}
      {% endif %}
    bin_run_with_tmux: false
    bin_collect_logs: false
  ansible.builtin.include_role:
    name: hyperledger.fabricx.bin
    tasks_from: start
  when:
    - (
        (fabric_ca_enrollment_type | default('bccsp')) == 'idemix'
        and not fabric_ca_idemix_signer.stat.exists
      )
      or (
        (fabric_ca_enrollment_type | default('bccsp')) == 'bccsp'
        and not fabric_ca_msp_cert.stat.exists
      )

- name: Copy NodeOUs configuration file
  ansible.builtin.template:
    src: nodeous-config.yaml.j2
    dest: "{{ fabric_ca_msp_dir }}/config.yaml"
    mode: "0o644"
  when:
    - fabric_ca_enrollment_type == 'bccsp'
    - fabric_ca_enable_nodeous

# TODO: we need to evaluate if we want to go with this path or handle per component locations based on whether they receive material through cryptogen or fabric-ca
- name: Adjust crypto to be as cryptogen produced crypto
  ansible.builtin.include_role:
    name: hyperledger.fabricx.fabric_ca
    tasks_from: client/cryptogenize
  when:
    - fabric_ca_enrollment_type == 'bccsp'
