#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

{% include './sections/server.yaml.j2' +%}
{% if prometheus_exporter_port is defined %}
{% include './sections/monitoring.yaml.j2' +%}
{% endif %}

{% include './sections/logging.yaml.j2' +%}

# ---------------------------------------------------------------------------
# HLFX Committer Verifier execution parameters
# ---------------------------------------------------------------------------
parallel-executor:
  # How many parallel go routines will be launched.
  parallelism: {{ committer_verifier_parallelism | default(ansible_facts.processor_vcpus * 2) }}
  # The minimum amount of responses we need to collect before emitting a response.
  batch-size-cutoff: {{ committer_verifier_batch_size_cutoff | default(500) }}
  # How often we should empty the non-empty buffer.
  batch-time-cutoff: {{ committer_verifier_batch_time_cutoff | default('2ms') }}
  # The size of the buffer of the input channels (increase for high fluctuations of load)
  channel-buffer-size: {{ committer_verifier_channel_buffer_size | default(1000) }}
