#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

{% include './sections/server.yaml.j2' +%}
{% if prometheus_exporter_port is defined %}
{% include './sections/monitoring.yaml.j2' +%}
{% endif %}

{% include './sections/logging.yaml.j2' +%}

# ---------------------------------------------------------------------------
# HLFX Committer Verifier execution parameters
# ---------------------------------------------------------------------------
parallel-executor:
  # How many parallel go routines will be launched.
  parallelism: 80
  # The minimum amount of responses we need to collect before emitting a response.
  batch-size-cutoff: 500
  # How often we should empty the non-empty buffer.
  batch-time-cutoff: 2ms
  # The size of the buffer of the input channels (increase for high fluctuations of load)
  channel-buffer-size: 1000
