#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

{% include './sections/server.yaml.j2' +%}

{% if prometheus_exporter_port is defined %}
{% include './sections/monitoring.yaml.j2' +%}
{% endif %}

{% include './sections/logging.yaml.j2' +%}

# ---------------------------------------------------------------------------
# HLFX Orderers connection settings
# The HLFX Committer Sidecar component pulls blocks from the ordering
# service.
# ---------------------------------------------------------------------------
orderer:
  # Channel ID
  channel-id: {{ channel_id }}
  # Consensus Type ("BFT" or "CFT")
  consensus-type: BFT
  # Connection settings
  connection:
    # HLFX Orderer endpoints
    endpoints:
{% for orderer_assembler in orderer_assemblers %}
      - {{ hostvars[orderer_assembler].ansible_host }}:{{ hostvars[orderer_assembler].orderer_rpc_port }}
{% endfor %}

# ---------------------------------------------------------------------------
# HLFX Committer Coordinator connection settings
# The HLFX Committer Sidecar pushes the blocks to the HFLX Committer
# Coordinator and pulls from the latter the block statuses.
# ---------------------------------------------------------------------------
committer:
  # HLFX Committer Coordinator endpoint
  endpoint:
    host: {{ hostvars[committer_coordinator].ansible_host }}:{{ hostvars[committer_coordinator].committer_rpc_port }}

# ---------------------------------------------------------------------------
# Relay Settings
# ---------------------------------------------------------------------------
# Interval for setting the last committed block to the HLFX Committer Coordinator
last-committed-block-set-interval: 5s

# ---------------------------------------------------------------------------
# Ledger settings
# ---------------------------------------------------------------------------
ledger:
  # Path where to store the ledger
  path: {{ committer_config_dir }}/ledger


