# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

server:
  endpoint: 0.0.0.0:{{ committer_rpc_port }}
  keep-alive:
    params:
      time: 300s
      timeout: 600s
    enforcement-policy:
      min-time: 60s
      permit-without-stream: false
orderer:
  channel-id: {{ channel_id }}
  consensus-type: BFT
  connection:
    endpoints:
{% for orderer_assembler in orderer_assemblers %}
      - {{ hostvars[orderer_assembler].ansible_host }}:{{ hostvars[orderer_assembler].orderer_rpc_port }}
{% endfor %}
{% if committer_use_tls %}
  orderer-connection-profile:
    {
      "root-ca-paths": ["{{ committer_config_dir }}/ca-certs.pem",],
      "msp-dir": "{{ committer_config_dir }}/msp",
      "msp-id": "Org1MSP",
      "bccsp": { "Default": "SW", "SW": { "Security": 256, "Hash": "SHA2" } },
    }
{% endif %}
committer:
  endpoint:
    host: {{ hostvars[committer_coordinator].ansible_host }}
    port: {{ hostvars[committer_coordinator].committer_rpc_port }}
ledger:
  path: {{ committer_config_dir }}/ledger
last-committed-block-set-interval: 5s
bootstrap:
  genesis-block-file-path:
{% include './sections/monitoring.yaml.j2' +%}
{% include './sections/logging.yaml.j2' %}
