#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ committer_k8s_resource_name }}
  namespace: {{ k8s_namespace }}
  labels:
    app.kubernetes.io/name: {{ committer_k8s_resource_name }}
    app.kubernetes.io/component: {{ committer_component_type }}
    app.kubernetes.io/part-of: fabric-x-committer
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ committer_k8s_resource_name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ committer_k8s_resource_name }}
        app.kubernetes.io/component: {{ committer_component_type }}
        app.kubernetes.io/part-of: fabric-x-committer
    spec:
      securityContext:
        fsGroup: {{ committer_k8s_fs_group }}
      containers:
        - name: {{ committer_component_type }}
          image: {{ committer_image }}
          imagePullPolicy: {{ k8s_image_pull_policy }}
          args:
            - "committer"
            - "start-verifier"
            - "--config={{ committer_container_config_dir }}/{{ committer_config_file }}"
          ports:
            - name: rpc
              containerPort: {{ committer_rpc_port }}
              protocol: TCP
            - name: metrics
              containerPort: {{ committer_metrics_port }}
              protocol: TCP
          volumeMounts:
            # Main verifier configuration file.
            - name: config
              mountPath: {{ committer_container_config_dir }}/{{ committer_config_file }}
              subPath: config-verifier.yml
{% if committer_use_tls %}
            # TLS private key.
            - name: secret
              mountPath: {{ committer_container_config_dir }}/tls/server.key
              subPath: tls-server.key
              readOnly: true
            # TLS server certificate.
            - name: secret
              mountPath: {{ committer_container_config_dir }}/tls/server.crt
              subPath: tls-server.crt
              readOnly: true
            # TLS CA certificate (also used for mTLS client trust).
            - name: secret
              mountPath: {{ committer_container_config_dir }}/tls/ca.crt
              subPath: tls-ca.crt
              readOnly: true
{% endif %}
{% if committer_monitoring_use_mtls and committer_monitoring_mtls_clients is defined %}
{% for committer_monitoring_mtls_client in committer_monitoring_mtls_clients %}
{% if committer_monitoring_mtls_client not in (committer_mtls_clients | default([])) %}
            # mTLS monitoring CA cert for client {{ committer_monitoring_mtls_client }}.
            - name: config
              mountPath: {{ committer_container_config_dir }}/mtls/{{ committer_monitoring_mtls_client }}/ca.crt
              subPath: mtls-client-{{ committer_monitoring_mtls_client }}-ca.crt
              readOnly: true
{% endif %}
{% endfor %}
{% endif %}
{% if committer_monitoring_use_mtls and committer_monitoring_mtls_orgs is defined %}
{% for committer_monitoring_mtls_org in committer_monitoring_mtls_orgs %}
{% if committer_monitoring_mtls_org not in (committer_mtls_orgs | default([])) %}
            # mTLS monitoring CA cert for org {{ committer_monitoring_mtls_org.domain }}.
            - name: config
              mountPath: {{ committer_container_config_dir }}/mtls/{{ committer_monitoring_mtls_org.domain }}/ca.crt
              subPath: mtls-org-{{ committer_monitoring_mtls_org.domain }}-ca.crt
              readOnly: true
{% endif %}
{% endfor %}
{% endif %}
{% if committer_use_mtls and committer_mtls_clients is defined %}
{% for current_mtls_client in committer_mtls_clients %}
            # mTLS CA cert for client {{ current_mtls_client }}.
            - name: config
              mountPath: {{ committer_container_config_dir }}/mtls/{{ current_mtls_client }}/ca.crt
              subPath: mtls-client-{{ current_mtls_client }}-ca.crt
              readOnly: true
{% endfor %}
{% endif %}
{% if committer_use_mtls and committer_mtls_orgs is defined %}
{% for current_mtls_org in committer_mtls_orgs %}
            # mTLS CA cert for org {{ current_mtls_org.domain }}.
            - name: config
              mountPath: {{ committer_container_config_dir }}/mtls/{{ current_mtls_org.domain }}/ca.crt
              subPath: mtls-org-{{ current_mtls_org.domain }}-ca.crt
              readOnly: true
{% endfor %}
{% endif %}
      volumes:
        - name: config
          configMap:
            name: {{ committer_k8s_resource_name }}-config
            defaultMode: 0640
{% if committer_use_tls %}
        - name: secret
          secret:
            secretName: {{ committer_k8s_resource_name }}-secret
            defaultMode: 0640
{% endif %}
{% if k8s_image_pull_secret is defined and k8s_image_pull_secret %}
      imagePullSecrets:
        - name: {{ k8s_image_pull_secret }}
{% endif %}
