#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Create Postgres DB data volume
  vars:
    container_volume_path: "{{ postgres_remote_config_dir }}/data"
    container_volume_mode: "0o755"
    container_volume_uid: "999"
    container_volume_gid: "999"
    container_volume_type: directory
  ansible.builtin.include_role:
    name: hyperledger.fabricx.container
    tasks_from: volume/create

# We need to find which container client is used since
# Docker on macOS doesn't allow `docker-unshare`.
# Therefore, we cannot set the permissions for the user "999:999".
# For this reason the container is started with the host user.
- name: Find the container client used on macOS
  ansible.builtin.include_role:
    name: hyperledger.fabricx.container
    tasks_from: get_container_client
  when:
    - ansible_facts.os_family == 'Darwin'

- name: Start Postgres DB Container
  vars:
    container_name: "{{ postgres_container_name }}"
    container_image: "{{ postgres_image }}"
    container_env:
      POSTGRES_DB: "{{ postgres_db }}"
      POSTGRES_USER: "{{ postgres_user }}"
      POSTGRES_PASSWORD: "{{ postgres_password }}"
      PGDATA: "{{ postgres_container_config_dir }}/data/pgdata"
    container_command: >-
      postgres
      -c port={{ postgres_port }}
      {% if postgres_use_tls %}
      -c ssl=on
      -c ssl_key_file={{ postgres_container_config_dir }}/tls/{{ postgres_tls_private_key_file }}
      -c ssl_cert_file={{ postgres_container_config_dir }}/tls/{{ postgres_tls_cert_file }}
      {% endif %}
      {% if postgres_use_mtls %}
      -c hba_file={{ postgres_container_config_dir }}/pg_hba.conf
      {% if (postgres_mtls_clients is defined) and (postgres_mtls_clients | length > 0) %}
      -c ssl_ca_file={{ postgres_container_config_dir }}/mtls/ca-certs.pem
      {% endif %}
      {% endif %}
      {% if postgres_extra_cmd_opts is defined %}
      {{ postgres_extra_cmd_opts }}
      {% endif %}
    container_ports:
      - "{{ postgres_port }}:{{ postgres_port }}"
    container_volumes:
      - "{{ postgres_remote_config_dir }}:{{ postgres_container_config_dir }}:Z"
      - "{{ postgres_remote_config_dir }}/data:{{ postgres_container_config_dir }}/data:Z" # necessary volume to override default named volume inside Postgres image
    container_healthcheck_test: >-
      pg_isready
      -d {{ postgres_db }}
      -U {{ postgres_user }}
      -p {{ postgres_port }}
    container_wait_until_running: true
    container_wait_port: "{{ postgres_port }}"
    # We run the container as host user when we are on macOS and we detect that Docker
    # is used. The reason is that both Rancher and Docker Desktop don't allow
    # docker-unshare (as instead podman). Hence, we cannot change the permissions
    # of the folder for the user 999:999.
    container_run_as_host_user: "{{ (ansible_facts.os_family == 'Darwin') and (container_client == 'docker' | default(false)) }}"
  ansible.builtin.include_role:
    name: hyperledger.fabricx.container
    tasks_from: start
