#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Create Postgres DB volume
  vars:
    container_volume_path: "{{ postgres_pgdata_dir }}"
    container_volume_mode: "0o750"
    container_volume_uid: "999"
    container_volume_gid: "999"
    container_volume_type: directory
  ansible.builtin.include_role:
    name: hyperledger.fabricx.container
    tasks_from: volume/create

- name: Start Postgres DB Container
  vars:
    container_name: "{{ postgres_container_name }}"
    container_image: "{{ postgres_image }}"
    container_command: >-
      postgres -c port={{ postgres_port }}
      {{ postgres_tuning }}
    container_ports:
      - "{{ postgres_port }}:{{ postgres_port }}"
    container_volumes:
      - "{{ postgres_pgdata_dir }}:/var/lib/postgresql/data:Z"
    container_env:
      POSTGRES_DB: "{{ postgres_db }}"
      POSTGRES_USER: "{{ postgres_user }}"
      POSTGRES_PASSWORD: "{{ postgres_password }}"
      PGDATA: /var/lib/postgresql/data/pgdata
    container_healthcheck_test: >-
      pg_isready
      -d {{ postgres_db }}
      -U {{ postgres_user }}
      -p {{ postgres_port }}
    container_wait_until_running: true
    container_wait_port: "{{ postgres_port }}"
  ansible.builtin.include_role:
    name: hyperledger.fabricx.container
    tasks_from: start

- name: Start Postgres Exporter Sidecar
  vars:
    postgres_exporter_container_name: "{{ postgres_container_name }}_exporter"
    postgres_exporter_data_source_name: "postgresql://{{ postgres_user }}:{{ postgres_password }}@{{ ansible_host }}:{{ postgres_port }}/{{ postgres_db }}?sslmode=disable"
  ansible.builtin.include_role:
    name: hyperledger.fabricx.postgres_exporter
    tasks_from: start
  when:
    - postgres_exporter_port is defined
