#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Define the Postgres DB volume for storing data
  ansible.builtin.set_fact:
    postgres_volumes:
      - "{{ postgres_remote_config_dir }}/data:/var/lib/postgresql/data:Z"

- name: Define the Postgres DB volume for TLS
  vars:
    postgres_tls_volume: "{{ postgres_remote_config_dir }}/tls:/var/lib/postgresql/tls:Z"
  ansible.builtin.set_fact:
    postgres_volumes: "{{ postgres_volumes + [postgres_tls_volume] }}"
  when:
    - postgres_use_tls

- name: Create Postgres DB data volume
  vars:
    container_volume_path: "{{ postgres_remote_config_dir }}/data"
    container_volume_mode: "0o750"
    container_volume_uid: "999"
    container_volume_gid: "999"
    container_volume_type: directory
  ansible.builtin.include_role:
    name: hyperledger.fabricx.container
    tasks_from: volume/create

- name: Set right permissions for TLS volume
  vars:
    container_volume_path: "{{ postgres_remote_config_dir }}/tls"
    container_volume_mode: "0o750"
    container_volume_uid: "999"
    container_volume_gid: "999"
    container_volume_type: directory
  ansible.builtin.include_role:
    name: hyperledger.fabricx.container
    tasks_from: volume/create
  when:
    - postgres_use_tls

# TODO: check if we need to change the permissions for the TLS folder (i guess so)
- name: Start Postgres DB Container
  vars:
    container_name: "{{ postgres_container_name }}"
    container_image: "{{ postgres_image }}"
    container_command: >-
      postgres
      -c port={{ postgres_port }}
      {% if postgres_use_tls %}
      -c ssl=on
      -c ssl_key_file=/var/lib/postgresql/tls/tls_key.pem
      -c ssl_cert_file=/var/lib/postgresql/tls/tls_cert.pem
      {% endif %}
      {% if postgres_extra_cmd_opts is defined %}
      {{ postgres_extra_cmd_opts }}
      {% endif %}
    container_ports:
      - "{{ postgres_port }}:{{ postgres_port }}"
    container_volumes:
      - "{{ postgres_remote_config_dir }}/tls:/var/lib/postgresql/tls:Z"
      - "{{ postgres_remote_config_dir }}/data:/var/lib/postgresql/data:Z"
    container_env:
      POSTGRES_DB: "{{ postgres_db }}"
      POSTGRES_USER: "{{ postgres_user }}"
      POSTGRES_PASSWORD: "{{ postgres_password }}"
      PGDATA: /var/lib/postgresql/data/pgdata
    container_healthcheck_test: >-
      pg_isready
      -d {{ postgres_db }}
      -U {{ postgres_user }}
      -p {{ postgres_port }}
    container_wait_until_running: true
    container_wait_port: "{{ postgres_port }}"
  ansible.builtin.include_role:
    name: hyperledger.fabricx.container
    tasks_from: start
