#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Generate CSR for TLS cert
  vars:
    openssl_private_key_path: "{{ yugabyte_remote_config_dir }}/tls/node.{{ ansible_host }}.key"
    openssl_csr_path: "{{ yugabyte_remote_config_dir }}/tls/tls.csr"
    openssl_ext_file_path: "{{ yugabyte_remote_config_dir }}/tls/tls.ext"
    openssl_san_entries:
      - "DNS.1:{{ ansible_host }}"
      - "DNS.2:{{ inventory_hostname }}"
      - "IP.1:{{ ansible_default_ipv4.address }}"
  ansible.builtin.include_role:
    name: hyperledger.fabricx.openssl
    tasks_from: generate_csr
  when:
    - yugabyte_use_tls
