#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Initialize SAN entries
  ansible.builtin.set_fact:
    openssl_san_entries:
      - "DNS.1:{{ ansible_host }}"

# Note: we add all IP addresses to the SAN entries, but technically
# we should only add the public ones that will be used to reach
# the node.
- name: Add IP addresses to SAN entries
  vars:
    current_san_ip_entry: "IP.{{ item_index + 1 }}:{{ current_ip_addr }}"
  ansible.builtin.set_fact:
    openssl_san_entries: "{{ openssl_san_entries + [current_san_ip_entry] }}"
  loop: "{{ ansible_all_ipv4_addresses }}"
  loop_control:
    loop_var: current_ip_addr
    index_var: item_index
    label: "{{ current_ip_addr }}"
  when:
    - ansible_all_ipv4_addresses is defined
    - ansible_all_ipv4_addresses
      | length > 0

- name: Generate CSR for TLS cert
  vars:
    openssl_common_name: "{{ inventory_hostname }}"
    openssl_private_key_path: "{{ yugabyte_remote_config_dir }}/tls/node.{{ ansible_host }}.key"
    openssl_csr_path: "{{ yugabyte_remote_config_dir }}/tls/tls.csr"
    openssl_ext_file_path: "{{ yugabyte_remote_config_dir }}/tls/tls.ext"
  ansible.builtin.include_role:
    name: hyperledger.fabricx.openssl
    tasks_from: generate_csr
  when:
    - yugabyte_use_tls
