#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Generate CSR for TLS cert
  vars:
    openssl_private_key_path: "{{ yugabyte_remote_config_dir }}/tls/server.key"
    openssl_csr_path: "{{ yugabyte_remote_config_dir }}/tls/server.csr"
  ansible.builtin.include_role:
    name: hyperledger.fabricx.openssl
    tasks_from: generate_csr
  when:
    - yugabyte_use_tls
