#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# =========================
# MSP certs
# =========================
- name: Fetch Hyperledger Fabric-X loadgen user sign certificates
  vars:
    cryptogen_signcert_file: "{{ current_user.name }}@{{ organization.domain }}-cert.pem"
    fabric_ca_signcert_file: "cert.pem"
    signcert_file: >-
      {{
        cryptogen_signcert_file
        if organization.fabric_ca_host is undefined
        else fabric_ca_signcert_file
      }}
  ansible.builtin.fetch:
    src: "{{ loadgen_remote_config_dir }}/users/{{ current_user.name }}@{{ organization.domain }}/msp/signcerts/{{ signcert_file }}"
    dest: "{{ fetched_artifacts_dir }}/crypto/peerOrganizations/{{ organization.domain }}/users/{{ current_user.name }}@{{ organization.domain }}/msp/signcerts/{{ cryptogen_signcert_file }}"
    flat: true
  loop: "{{ organization.users }}"
  loop_control:
    loop_var: current_user
    label: "{{ organization.domain }}:{{ current_user.name }}"
  when:
    - organization.users is defined

# =========================
# TLS certs
# =========================
- name: Fetch Hyperledger Fabric-X Loadgen TLS CA certificate
  ansible.builtin.fetch:
    src: "{{ loadgen_remote_config_dir }}/tls/ca.crt"
    dest: "{{ fetched_artifacts_dir }}/{{ inventory_hostname }}/tls/ca.crt"
    flat: true
  when:
    - loadgen_use_tls

- name: Fetch Hyperledger Fabric-X Loadgen TLS certificate
  ansible.builtin.fetch:
    src: "{{ loadgen_remote_config_dir }}/tls/server.crt"
    dest: "{{ fetched_artifacts_dir }}/{{ inventory_hostname }}/tls/server.crt"
    flat: true
  when:
    - loadgen_use_tls
