#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Check that the meta namespace admin MSP path is defined
  ansible.builtin.fail:
    msg: "No path to the meta namespace admin MSP is indicated. Set it via 'fxconfig_msp_config_path'."
  when:
    - fxconfig_msp_config_path is not defined

- name: Create namespace {{ fxconfig_namespace }}
  vars:
    container_name: "{{ fxconfig_container_name }}-{{ fxconfig_namespace }}-create"
    container_image: "{{ fxconfig_image }}"
    container_command: >-
      {{ fxconfig_container_name }} namespace
      create {{ fxconfig_namespace }}
      --channel {{ channel_id }}
      --orderer {{ hostvars[orderer_router_host].ansible_host }}:{{ hostvars[orderer_router_host].orderer_rpc_port }}
      --mspConfigPath {{ fxconfig_container_config_dir }}/meta_namespace_admin_msp
      --mspID {{ fxconfig_msp_id }}
      --pk {{ fxconfig_container_config_dir }}/namespaces/{{ fxconfig_namespace }}/pubkey.pem
      {% if hostvars[orderer_router_host].orderer_use_tls is defined and hostvars[orderer_router_host].orderer_use_tls %}
      --cafile {{ fxconfig_container_config_dir }}/tls/orderer/ca.crt
      {% endif %}
    container_volumes:
      - "{{ fxconfig_remote_config_dir }}:{{ fxconfig_container_config_dir }}:Z"
      - "{{ fxconfig_msp_config_path }}:{{ fxconfig_container_config_dir }}/meta_namespace_admin_msp:Z"
    container_run_detach_mode: false
    container_run_as_host_user: true
    container_autoremove: true
  ansible.builtin.include_role:
    name: hyperledger.fabricx.container
    tasks_from: start

- name: Wait until the namespace {{ fxconfig_namespace }} is created
  vars:
    container_run_until: >-
      {{
        (fxconfig_namespace | string ~ ':') in (
          container_docker_result.container.Output
          if container_client == 'docker'
          else (container_output.stdout_lines | join('\n'))
        )
      }}
    container_run_retries: 60
    container_run_delay: 2
  ansible.builtin.include_role:
    name: hyperledger.fabricx.fxconfig
    tasks_from: container/namespace_list
