#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: List namespaces with fxconfig container
  vars:
    container_name: "{{ fxconfig_container_name }}-namespace-list"
    container_image: "{{ fxconfig_image }}"
    container_command: >-
      {{ fxconfig_bin_name }} namespace
      list
      --endpoint={{ hostvars[committer_query_service_host].ansible_host }}:{{ hostvars[committer_query_service_host].committer_rpc_port }}
      {% if hostvars[committer_query_service_host].committer_use_tls is defined and hostvars[committer_query_service_host].committer_use_tls %}
      --cafile {{ fxconfig_container_config_dir }}/tls/committer/ca.crt
      {% endif %}
      {% if hostvars[committer_query_service_host].committer_use_mtls is defined and hostvars[committer_query_service_host].committer_use_mtls %}
      --certfile {{ fxconfig_container_config_dir }}/mtls/server.crt
      --keyfile {{ fxconfig_container_config_dir }}/mtls/server.key
      {% endif %}
    container_volumes:
      - "{{ fxconfig_remote_config_dir }}:{{ fxconfig_container_config_dir }}:Z"
    container_run_detach_mode: false
    container_run_as_host_user: true
    container_autoremove: true
  ansible.builtin.include_role:
    name: hyperledger.fabricx.container
    tasks_from: start
