# ---------------------------------------------------------------------------
# Log settings
# ---------------------------------------------------------------------------
logging:
  # Log specification
  logSpec: {{ committer_log_level | lower }}
  # Log format
  format: "{{ committer_log_format }}"
