# ---------------------------------------------------------------------------
# Monitoring settings
# ---------------------------------------------------------------------------
monitoring:
  # Metrics server settings
  server:
    # Metrics endpoint
    endpoint: 0.0.0.0:{{ prometheus_exporter_port }}
