#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# Currently we let Fabric-CA autogenerate its crypto material at bootstrap time
- name: Setup Fabric-CA crypto material
  hosts: "{{ target_hosts | default('fabric_cas') }}:&fabric_cas"
  tasks:
    - name: Setup Fabric CA DBs config files
      ansible.builtin.include_role:
        name: hyperledger.fabricx.postgres
        tasks_from: crypto/setup
      when:
        - postgres_port is defined
    - name: Fetch the Fabric CA DBs certificates
      ansible.builtin.include_role:
        name: hyperledger.fabricx.postgres
        tasks_from: crypto/fetch
      when:
        - postgres_port is defined
