#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Wipe Fabric CAs
  hosts: "{{ target_hosts | default('fabric_cas') }}:&fabric_cas"
  tasks:
    - name: Wipe Fabric CA servers
      ansible.builtin.include_role:
        name: hyperledger.fabricx.fabric_ca
        tasks_from: server/wipe
      when:
        - fabric_ca_port is defined
    - name: Wipe Fabric CA client binaries
      ansible.builtin.include_role:
        name: hyperledger.fabricx.fabric_ca
        tasks_from: client/bin/rm
      when:
        - fabric_ca_port is defined
        - fabric_ca_client_use_bin is defined
        - fabric_ca_client_use_bin
    - name: Wipe Fabric CA DBs
      ansible.builtin.include_role:
        name: hyperledger.fabricx.postgres
        tasks_from: wipe
      when:
        - postgres_port is defined
