#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ loadgen_k8s_resource_name }}-secret
  namespace: {{ k8s_namespace }}
  labels:
    app.kubernetes.io/name: {{ loadgen_k8s_resource_name }}
    app.kubernetes.io/component: {{ loadgen_type }}
    app.kubernetes.io/part-of: fabric-x-loadgen
type: Opaque
data:
{% if organization.users is defined %}
{% for user in organization.users %}
{% if user.namespace is defined %}
  # MSP private signing key for user {{ user.name }}.
  user-{{ user.name }}-msp-keystore-priv-sk: {{ lookup('file', loadgen_remote_config_dir + '/users/' + user.name + '@' + organization.domain + '/msp/keystore/priv_sk') | b64encode }}
  # MSP signing certificate for user {{ user.name }}.
  user-{{ user.name }}-msp-signcert.pem: {{ lookup('file', query('fileglob', loadgen_remote_config_dir + '/users/' + user.name + '@' + organization.domain + '/msp/signcerts/*.pem') | first) | b64encode }}
  # MSP CA certificate for user {{ user.name }}.
  user-{{ user.name }}-msp-cacert.pem: {{ lookup('file', query('fileglob', loadgen_remote_config_dir + '/users/' + user.name + '@' + organization.domain + '/msp/cacerts/*.pem') | first) | b64encode }}
{% endif %}
{% endfor %}
{% endif %}
{% if loadgen_use_tls %}
  # TLS private key used during the TLS handshake.
  tls-server.key: {{ lookup('file', loadgen_k8s_tls_server_key_path) | b64encode }}
  # TLS server certificate presented to connecting services.
  tls-server.crt: {{ lookup('file', loadgen_k8s_tls_server_crt_path) | b64encode }}
  # TLS CA certificate used to verify the server certificate chain.
  tls-ca.crt: {{ lookup('file', loadgen_k8s_tls_ca_crt_path) | b64encode }}
{% endif %}
