#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ loadgen_k8s_resource_name }}-secret
  namespace: {{ k8s_namespace }}
  labels:
    app.kubernetes.io/name: {{ loadgen_k8s_resource_name }}
    app.kubernetes.io/component: loadgen
    app.kubernetes.io/part-of: fabric-x-loadgen
type: Opaque
data:
  # Peer MSP private signing key for the loadgen identity.
  msp-keystore-priv-sk: {{ lookup('file', loadgen_k8s_msp_keystore_path, rstrip=False) | b64encode }}
  # Peer MSP signing certificate for the loadgen identity.
  msp-signcert.pem: {{ lookup('file', loadgen_k8s_msp_signcert_path, rstrip=False) | b64encode }}
  # Peer MSP CA certificate for the loadgen identity.
  msp-cacert.pem: {{ lookup('file', loadgen_k8s_msp_cacert_path, rstrip=False) | b64encode }}
  # Peer MSP NodeOUs config for identity classification.
  msp-config.yaml: {{ lookup('file', loadgen_k8s_msp_config_path, rstrip=False) | b64encode }}
{% if organization.users is defined %}
{% for user in organization.users %}
  # MSP private signing key for user {{ user.name }}.
  user-{{ user.name }}-msp-keystore-priv-sk: {{ lookup('file', loadgen_remote_config_dir + '/users/' + user.name + '@' + organization.domain + '/msp/keystore/priv_sk', rstrip=False) | b64encode }}
  # MSP signing certificate for user {{ user.name }}.
  user-{{ user.name }}-msp-signcert.pem: {{ lookup('file', query('fileglob', loadgen_remote_config_dir + '/users/' + user.name + '@' + organization.domain + '/msp/signcerts/*.pem') | first, rstrip=False) | b64encode }}
  # MSP CA certificate for user {{ user.name }}.
  user-{{ user.name }}-msp-cacert.pem: {{ lookup('file', query('fileglob', loadgen_remote_config_dir + '/users/' + user.name + '@' + organization.domain + '/msp/cacerts/*.pem') | first, rstrip=False) | b64encode }}
{% endfor %}
{% endif %}
{% if loadgen_use_tls or loadgen_monitoring_use_tls %}
  # TLS private key used during the TLS handshake.
  tls-server.key: {{ lookup('file', loadgen_k8s_tls_server_key_path, rstrip=False) | b64encode }}
  # TLS server certificate presented to connecting services.
  tls-server.crt: {{ lookup('file', loadgen_k8s_tls_server_crt_path, rstrip=False) | b64encode }}
  # TLS CA certificate used to verify the server certificate chain.
  tls-ca.crt: {{ lookup('file', loadgen_k8s_tls_ca_crt_path, rstrip=False) | b64encode }}
{% endif %}
