#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Check that the container network has been defined
  ansible.builtin.fail:
    msg: "No container network has been defined. Set it via 'container_network'."
  when:
    - container_network is not defined

- name: Ensure Docker network {{ container_network }} exists
  community.docker.docker_network:
    name: "{{ container_network }}"
    driver: "{{ container_network_driver }}"
    attachable: "{{ container_network_attachable }}"
    internal: "{{ container_network_internal }}"
    state: present
