#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ fabric_ca_server_k8s_resource_name }}
  namespace: {{ k8s_namespace }}
  labels:
    app.kubernetes.io/name: {{ fabric_ca_server_k8s_resource_name }}
    app.kubernetes.io/component: fabric-ca
    app.kubernetes.io/part-of: {{ fabric_ca_server_k8s_part_of }}
type: Opaque
data:
  {{ fabric_ca_server_ca_private_key_file }}: {{ lookup('file', fabric_ca_server_k8s_ca_key_path) | b64encode }}
  {{ fabric_ca_server_ca_cert_file }}: {{ lookup('file', fabric_ca_server_k8s_ca_cert_path) | b64encode }}
{% if fabric_ca_use_tls %}
  {{ fabric_ca_server_tls_private_key_file }}: {{ lookup('file', fabric_ca_server_k8s_tls_key_path) | b64encode }}
  {{ fabric_ca_server_tls_cert_file }}: {{ lookup('file', fabric_ca_server_k8s_tls_cert_path) | b64encode }}
{% endif %}
  IssuerPublicKey: {{ fabric_ca_server_k8s_idemix_public_key_slurp.content }}
  IssuerRevocationPublicKey: {{ lookup('file', fabric_ca_server_k8s_idemix_revocation_public_key_path) | b64encode }}
  IssuerSecretKey: {{ fabric_ca_server_k8s_idemix_secret_key_slurp.content }}
  IssuerRevocationPrivateKey: {{ lookup('file', fabric_ca_server_k8s_idemix_revocation_private_key_path) | b64encode }}
