#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
---
apiVersion: v1
kind: Service
metadata:
  name: {{ fabric_ca_server_k8s_resource_name }}
  namespace: {{ k8s_namespace }}
  labels:
    app.kubernetes.io/name: {{ fabric_ca_server_k8s_resource_name }}
    app.kubernetes.io/component: fabric-ca
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: {{ fabric_ca_server_k8s_resource_name }}
  ports:
    - name: api
      port: {{ fabric_ca_port }}
      targetPort: {{ fabric_ca_port }}
    - name: operations
      port: {{ fabric_ca_operations_port }}
      targetPort: {{ fabric_ca_operations_port }}
