#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: List Hyperledger Fabric-X Committer namespaces
  vars:
    bin_command: >-
      {{ fxconfig_bin_name }} namespace
      list
      --endpoint={{ hostvars[committer_query_service_host].ansible_host }}:{{ hostvars[committer_query_service_host].committer_rpc_port }}
      {% if hostvars[committer_query_service_host].committer_use_tls is defined and hostvars[committer_query_service_host].committer_use_tls %}
      --cafile {{ fxconfig_remote_config_dir }}/tls/committer/ca.crt
      {% endif %}
    bin_run_with_tmux: false
    bin_collect_logs: false
  ansible.builtin.include_role:
    name: hyperledger.fabricx.bin
    tasks_from: start
