#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ prometheus_k8s_resource_name }}-secret
  namespace: {{ k8s_namespace }}
  labels:
    app.kubernetes.io/name: {{ prometheus_k8s_resource_name }}
    app.kubernetes.io/part-of: prometheus
type: Opaque
data:
{% if prometheus_use_tls %}
  # TLS private key used to authenticate the Prometheus server during the TLS handshake.
  tls-server.key: {{ lookup('file', prometheus_k8s_tls_server_key_path) | b64encode }}
  # TLS certificate presented to connecting clients.
  tls-server.crt: {{ lookup('file', prometheus_k8s_tls_server_cert_path) | b64encode }}
{% endif %}
