#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Fetch Hyperledger Fabric-X Orderer sign certificates
  vars:
    cryptogen_signcert_file: "{{ orderer_crypto_name }}.{{ organization.domain }}-cert.pem"
    fabric_ca_signcert_file: "cert.pem"
    signcert_file: >-
      {{
        cryptogen_signcert_file
        if organization.fabric_ca_host is undefined
        else fabric_ca_signcert_file
      }}
  ansible.builtin.fetch:
    src: "{{ orderer_remote_config_dir }}/msp/signcerts/{{ signcert_file }}"
    dest: "{{ fetched_artifacts_dir }}/crypto/ordererOrganizations/{{ organization.domain }}/orderers/{{ orderer_crypto_name }}.{{ organization.domain }}/msp/signcerts/{{ cryptogen_signcert_file }}"
    flat: true

- name: Fetch Hyperledger Fabric-X Orderer TLS certificate to build genesis block
  ansible.builtin.fetch:
    src: "{{ orderer_remote_config_dir }}/tls/server.crt"
    dest: "{{ fetched_artifacts_dir }}/crypto/ordererOrganizations/{{ organization.domain }}/orderers/{{ orderer_crypto_name }}.{{ organization.domain }}/tls/server.crt"
    flat: true

- name: Fetch Hyperledger Fabric-X Orderer TLS CA certificate
  ansible.builtin.fetch:
    src: "{{ orderer_remote_config_dir }}/tls/ca.crt"
    dest: "{{ fetched_artifacts_dir }}/{{ inventory_hostname }}/tls/ca.crt"
    flat: true

- name: Fetch Hyperledger Fabric-X Orderer TLS certificate
  ansible.builtin.fetch:
    src: "{{ orderer_remote_config_dir }}/tls/server.crt"
    dest: "{{ fetched_artifacts_dir }}/{{ inventory_hostname }}/tls/server.crt"
    flat: true
