#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Install Docker packages for Linux
  become: true
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      curl -fsSL https://get.docker.com | sh
    executable: /bin/bash
  register: ibmcloud_install_output
  changed_when: ibmcloud_install_output.rc != 0
  when:
    - ansible_facts.system == 'Linux'

- name: Ensure Docker service is started and enabled
  become: true
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true

- name: Ensure docker group exists
  become: true
  ansible.builtin.group:
    name: docker
    state: present

- name: Add current user to docker group
  ansible.builtin.user:
    name: "{{ ansible_user_id }}"
    groups: docker
    append: true

- name: Verify Docker binary
  ansible.builtin.command: docker --version
  register: docker_check
  changed_when: docker_check.rc != 0

- name: Test docker with an hello-world container
  vars:
    container_client: docker
    container_name: docker-hello-world
    container_image: hello-world
    container_run_detach_mode: false
    container_autoremove: true
  ansible.builtin.include_role:
    name: hyperledger.fabricx.container
    tasks_from: start
