#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Login docker within {{ container_registry }}
  community.docker.docker_login:
    registry_url: "{{ container_registry }}"
    username: "{{ container_registry_username }}"
    password: "{{ container_registry_password }}"
    state: present
