#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Start docker container with image {{ container_image }}
  vars:
    rootless_docker: "{{ ansible_env.DOCKER_HOST is defined and '/run/user/' in ansible_env.DOCKER_HOST }}"
    docker_host_user: >-
      {{
        '0:0'
        if rootless_docker
        else container_host_user
      }}
    docker_network_mode: >-
      {{
        'bridge'
        if rootless_docker
        else container_network_mode
      }}
  community.docker.docker_container:
    name: "{{ container_name }}"
    image: "{{ container_image }}"
    entrypoint: "{{ container_entrypoint | default(omit) }}"
    command: "{{ container_command | default(omit) }}"
    hostname: "{{ container_name }}"
    network_mode: "{{ docker_network_mode }}"
    networks: >-
      {{
        [{'name': container_network}]
        if (docker_network_mode == 'bridge') and (container_network is defined)
        else omit
      }}
    ports: >-
      {{
        container_ports
        if (docker_network_mode == 'bridge') and (container_ports is defined)
        else omit
      }}
    memory: "{{ container_memory | default(omit) }}"
    cpus: "{{ container_cpus | default(omit) }}"
    volumes: "{{ container_volumes | default(omit) }}"
    ulimits: "{{ container_ulimits | default(omit) }}"
    user: >-
      {{
        docker_host_user
        if container_run_as_host_user
        else omit
      }}
    env: "{{ container_env | default(omit) }}"
    log_driver: "{{ container_log_driver }}"
    log_options:
      max-size: "{{ container_log_max_size }}"
    detach: "{{ container_run_detach_mode }}"
    healthcheck:
      test: "{{ container_healthcheck_test | default(omit) }}"
      interval: "{{ container_healthcheck_interval }}"
    state: >-
      {{
        'healthy'
        if container_healthcheck_test is defined
        else 'started'
      }}
    auto_remove: "{{ container_run_detach_mode and container_autoremove }}"
    cleanup: "{{ (not container_run_detach_mode) and container_autoremove }}"
  until: container_run_until
  retries: "{{ container_run_retries }}"
  delay: "{{ container_run_delay }}"
  ignore_errors: "{{ container_ignore_errors }}"
  register: container_docker_result

- name: Wait for container to become ready on port
  ansible.builtin.wait_for:
    host: "{{ ansible_host }}"
    port: "{{ container_wait_port }}"
    delay: "{{ container_wait_delay }}"
    timeout: "{{ container_wait_timeout }}"
  when:
    - container_wait_until_running

- name: Store the Docker container command result
  ansible.builtin.set_fact:
    container_output: >-
      {{
        container_docker_result
        | combine({
            'stdout_lines': (container_docker_result.container.Output | default('')).splitlines()
          })
      }}

- name: Show output of docker command
  vars:
    log_lines: "{{ container_output.stdout_lines }}"
  ansible.builtin.debug:
    msg: "{{ log_lines[-container_log_lines:] if (container_log_lines | int > 0) else log_lines }}"
  when:
    - container_debug
    - not container_run_detach_mode
