#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Build list of unique (host, network) pairs
  hosts: localhost
  vars:
    targeted_hosts: >-
      {{
        groups[target_hosts]
        if target_hosts in groups
        else [target_hosts]
      }}
  tasks:
    - name: Collect candidate hosts
      vars:
        candidate_actual_host: "{{ 'localhost' if ansible_connection == 'local' else current_host.ansible_host }}"
        candidate_actual_hostname: "{{ candidate_actual_host }}-{{ current_host.container_network }}"
      ansible.builtin.set_fact:
        candidate_hosts: >-
          {{
            (candidate_hosts | default({}))
            | combine({
                candidate_actual_hostname: {
                  "name": candidate_actual_hostname,
                  "ansible_host": candidate_actual_host,
                  "container_network": current_host.container_network
                }
              })
          }}
      loop: >-
        {{
          targeted_hosts
          | default(groups['all'])
          | sort
          | map('extract', hostvars)
          | selectattr('container_network', 'defined')
        }}
      loop_control:
        loop_var: current_host
        label: "{{ current_host.inventory_hostname }}:{{ current_host.container_network }}"
    - name: Add one representative host per (ansible_host, container_network)
      ansible.builtin.add_host:
        name: "{{ current_host.name }}"
        ansible_host: "{{ current_host.ansible_host }}"
        container_network: "{{ current_host.container_network }}"
        groups: machines_with_container_networks
      loop: "{{ candidate_hosts.values() }}"
      loop_control:
        loop_var: current_host
        label: "{{ current_host.name }}"
      when:
        - candidate_hosts is defined

- name: Create container networks
  hosts: machines_with_container_networks
  tasks:
    - name: Create the container networks
      ansible.builtin.include_role:
        name: hyperledger.fabricx.container
        tasks_from: network/create
      when:
        - container_network is defined
