#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Create list of machines to setup
  hosts: "{{ target_hosts | default('all') }}"
  tasks:
    - name: Set the group "machines"
      ansible.builtin.include_role:
        name: hyperledger.fabricx.utils
        tasks_from: select_one_host_per_machine

- name: Install prerequisites
  hosts: "{{ target_hosts | default('machines') }}:&machines"
  tasks:
    - name: Install the container engine
      ansible.builtin.include_role:
        name: hyperledger.fabricx.container
        tasks_from: install
    - name: Install tmux
      ansible.builtin.include_role:
        name: hyperledger.fabricx.tmux
        tasks_from: install
    - name: Install openssl
      ansible.builtin.include_role:
        name: hyperledger.fabricx.openssl
        tasks_from: install
    - name: Install rsync
      vars:
        package_name: rsync
      ansible.builtin.include_role:
        name: hyperledger.fabricx.package
        tasks_from: install
    - name: Install chrony
      vars:
        package_name: chrony
        package_service_name: chronyd
      ansible.builtin.include_role:
        name: hyperledger.fabricx.package
        tasks_from: install
