#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Start standalone Yugabyte container
  ansible.builtin.include_role:
    name: hyperledger.fabricx.yugabyte
    tasks_from: standalone/container/start
  when:
    - yugabyte_component_type == 'standalone'

- name: Start Yugabyte master DB container
  ansible.builtin.include_role:
    name: hyperledger.fabricx.yugabyte
    tasks_from: distributed/container/master/start
  when:
    - yugabyte_component_type == 'master'

- name: Start Yugabyte Tablet Servers containers
  ansible.builtin.include_role:
    name: hyperledger.fabricx.yugabyte
    tasks_from: distributed/container/tablet/start
  when:
    - yugabyte_component_type == 'tablet'
