#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ node_exporter_k8s_resource_name }}
  namespace: {{ k8s_namespace }}
  labels:
    app.kubernetes.io/name: {{ node_exporter_k8s_resource_name }}
    app.kubernetes.io/component: node-exporter
    app.kubernetes.io/part-of: monitoring
type: Opaque
data:
{% if node_exporter_use_tls %}
  {{ node_exporter_tls_private_key_file }}: {{ lookup('file', node_exporter_k8s_tls_key_path) | b64encode }}
  {{ node_exporter_tls_cert_file }}: {{ lookup('file', node_exporter_k8s_tls_cert_path) | b64encode }}
{% endif %}
