#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
---
apiVersion: v1
kind: Service
metadata:
  name: {{ node_exporter_k8s_resource_name }}
  namespace: {{ k8s_namespace }}
  labels:
    app.kubernetes.io/name: {{ node_exporter_k8s_resource_name }}
    app.kubernetes.io/component: node-exporter
    app.kubernetes.io/part-of: {{ node_exporter_k8s_part_of }}
spec:
  selector:
    app.kubernetes.io/name: {{ node_exporter_k8s_resource_name }}
  ports:
    - name: metrics
      port: {{ node_exporter_port }}
      targetPort: {{ node_exporter_port }}
