#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

# CA Certificate used by promtool to verify TLS authenticity from
# the server.
tls_config:
  ca_file: {{ prometheus_container_config_dir }}/tls/tls_cert.pem