#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Teardown Fabric-X Committer coordinator container
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: container/rm
  when:
    - not committer_use_bin

- name: Stop Fabric-X Committer coordinator binary
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: bin/stop
  when:
    - committer_use_bin
