#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Start Hyperledger Fabric-X Committer validator persistence
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: validator/start
  when:
    - committer_component_type == 'validator'

- name: Start Hyperledger Fabric-X Committer signature verifiers
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: verifier/start
  when:
    - committer_component_type == 'verifier'

- name: Start Hyperledger Fabric-X Committer coordinator
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: coordinator/start
  when:
    - committer_component_type == 'coordinator'

- name: Start Hyperledger Fabric-X Committer sidecar
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: sidecar/start
  when:
    - committer_component_type == 'sidecar'

- name: Start Hyperledger Fabric-X Committer QueryService
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: query_service/start
  when:
    - committer_component_type == 'query-service'
