#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Stop Fabric-X Committer QueryService
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: query_service/stop
  when:
    - committer_component_type == 'query-service'

- name: Stop Fabric-X Committer sidecar
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: sidecar/stop
  when:
    - committer_component_type == 'sidecar'

- name: Stop the Fabric-X Committer coordinator
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: coordinator/stop
  when:
    - committer_component_type == 'coordinator'

- name: Stop the Fabric-X Committer signature verifiers
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: verifier/stop
  when:
    - committer_component_type == 'verifier'

- name: Stop the Fabric-X Committer validator persistence
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: validator/stop
  when:
    - committer_component_type == 'validator'
