#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Teardown Fabric-X Committer QueryService
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: query_service/teardown
  when: committer_component_type == 'query-service'

- name: Teardown Fabric-X Committer sidecar
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: sidecar/teardown
  when: committer_component_type == 'sidecar'

- name: Teardown the Fabric-X Committer coordinator
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: coordinator/teardown
  when: committer_component_type == 'coordinator'

- name: Teardown the Fabric-X Committer signature verifiers
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: verifier/teardown
  when: committer_component_type == 'verifier'

- name: Teardown the Fabric-X Committer validator persistence
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: validator/teardown
  when: committer_component_type == 'validator'
