#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

- name: Wipe the Fabric-X Committer QueryService
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: query_service/wipe
  when: committer_component_type == 'query-service'

- name: Wipe the Fabric-X Committer sidecar
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: sidecar/wipe
  when: committer_component_type == 'sidecar'

- name: Wipe the the Fabric-X Committer coordinator
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: coordinator/wipe
  when: committer_component_type == 'coordinator'

- name: Wipe the the Fabric-X Committer signature verifiers
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: verifier/wipe
  when: committer_component_type == 'verifier'

- name: Wipe the the Fabric-X Committer validator persistence
  ansible.builtin.include_role:
    name: hyperledger.fabricx.committer
    tasks_from: validator/wipe
  when: committer_component_type == 'validator'
